{% extends "layout.html" %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Basic -->


		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">
		<style>
			:root {
--primary-font: "Georgia", serif;  
--secondary-font: 'Georgia', serif;
}
</style>


	</head>


			<div role="main" class="main">

				<div class="container pt-5">

					<div class="row py-4 mb-2">
						<div class="col-md-7 order-2">
							<div class="overflow-hidden">
								<br><br><br><h2 class="text-color-dark font-weight-bold text-12 mb-2 pt-0 mt-0 " data-appear-animation="maskUp" data-appear-animation-delay="300">Nini Hsu</h2>
								</div>
								<div class="overflow-hidden mb-3">
								<p class="font-weight-bold text-uppercase mb-0 " data-appear-animation="maskUp" data-appear-animation-delay="500" style="color:rgb(153, 147, 72)">Wiki Team Leader
								</div>
								<p class="lead " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">Hey, I am Nini! My two passions are eating and working out. I also love logic. Logic gives efficiency, and being fast is everything to me. This is why I am responsible for web development in the team. IGEM is a fantastic opportunity for me because I can pursue what I love while delving into new fields. I’m incredibly excited to meet you in person this October in Paris!<a href="#"></a>  </p>								
							<p class="pb-3  " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800"></p>
							<hr class="solid my-4  " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
							<div class="row align-items-center  " data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
								<div class="col-lg-6">
							
								</div>
								<div class="col-sm-6 text-lg-end my-4 my-lg-0">
				

									
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-5 order-md-2 mb-4 mb-lg-0  " data-appear-animation="fadeInRightShorter">
							<img src="https://static.igem.wiki/teams/5094/members/pnini.svg" class="img-fluid mb-2" alt="">
						</div>
					</div>
				</div>

				

				

	</body>
</html>
{% endblock %}