{% extends "layout.html" %}



{% block page_content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<style>

        /* Define your navigation bar styles */
		.sidebar {
        background-color: rgba( 212, 184, 149);
        padding-top: 20px;
        border-radius: 15px;
        position: sticky;
        top: 0;
        overflow-y: auto; /* Add scroll functionality for small screens */
    }
	.font-weight-semi-bold {
        text-align: center;
        line-height: 2;
    }
    .sidebar.sidebar-bg {
        width: 300px;
        margin: 0 auto;
    }

	.bigger-text {
        font-size: 20px;  /* Adjust this value to your preference */
        font-family: 'Georgia', serif;
    }

	.custom-heading {
    font-size: 20px; /* adjust as necessary */
    color: rgb(86, 57, 42);
}

    .col-lg-9 {
        max-width: 1300px;
        margin: 10 auto;
    }

	.mid-image img {
        transform: scale(0.85);
        transform-origin: top left;
    }
	:root {
    --primary-font: "Georgia", serif;  /* Primary font for most content */
    --secondary-font: "Georgia", serif;   /* Secondary font for headings and specific content */
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}


	.special-content {
    font-family: var(--secondary-font);
}

.reduce-space {
    margin: 0;
    padding: 0;
}
.reduce-space {
    margin: 0;
    padding: 0;
    font-size: 0;  /* To counteract whitespace inherent with inline-block */
}

.reduce-space img {
    vertical-align: top;
}

.scaled-image img {
    transform: scale(0.6);
    transform-origin: top left;
}

	
		</style>
	
</head>
	<body data-plugin-scroll-spy data-plugin-options="{'target': '#sidebar'}">

		<div class="body">


			<div role="main" class="main">
				<section class="page-header page-header-modern section section-with-divider mb-0 page-header-lg" 
						style="background-image: url('https://static.igem.wiki/teams/4650/wiki/headings/contribution.png'); 
							   background-size: cover; 
							   background-position: center; 
							   height: 700px; 
							   display: flex; 
							   align-items: center; 
							   justify-content: center;
							    width: 100%;">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="font-weight-bold text-dark"></h1>
							</div>
						</div>
					</div>
				</section>
			</div>
			
			
				
			<div class="container-fluid- pt-3 pb-2">

				<div class="row pt-2">
					<div class="col-lg-3 position-relative">
						<aside class="sidebar sidebar-bg" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

							<h5 class="font-weight-semi-bold">Contribution</h5>
							<ul class="nav nav-list flex-column mb-5">
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#first">Troubleshooting</a></li>
									<ul>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sub-second-1">Identified potential amino acids to enhance flexibility</a></li>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sub-second-2">Identified more efficient enzymes</a></li>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sub-second-3">Identified a simpler protocol to bind proteins to cellulose</a></li>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sub-second-4">Identified various sources of CBD</a></li>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sub-second-5">Designed simple machines to test flexibility and strength of material substances</a></li>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sub-second-6">Summary</a></li>
									</ul>	
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#second">Parts</a></li>
									<ul>
										<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sub-second-7">RT-qPCR Data</a></li>
									</ul>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#third">EDUCATION MATERIALS</a></li>
									<ul>
										<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sub-second-1">Identified potential amino acids to enhance flexibility</a></li>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sub-third-1">G7-8</a></li>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sub-third-2">G11</a></li>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sub-third-3">Story book</a></li>
									</ul>
							</ul>
						
						</aside>
						


				      </div>
					  <div class="col-lg-7">
						<div id="first">
							<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							  <center> <strong class="font-weight-extra-bold">Troubleshooting</strong></center> 
						
							</h2>
							
						</div>
						<br>

					

						
								
								<div id="sub-second-1">
									<p class="bigger-text">
										These are a list of the major problems our team encountered when conducting the experiment. Throughout the process, we used troubleshooting to find solutions for each problem. Below is a brief summary of each problem, the way we resolved it, and how it can be applied to future IGEM teams. Since these problems may be encountered by other teams, they can use it as a reference. For more detailed information, please refer to the “parts” and “experiment” page.</p> 

									<h4 class="font-weight-bold custom-heading">
										<i>Identified potential amino acids to enhance flexibility</i>
										</h4>							
										
								</div>
								
							<div id="sub-second-2">
								<p class="bigger-text">
									Our team uses spider silk proteins as a material for making SCOBY to be more flexible, specifically MaSp1 and MaSp2, with its strong elasticities. And our team chose the two amino acid sequences, MaSp1 and MaSp2, because they were the shortest and therefore the easiest to convert from amino acid sequence to DNA. For experiments that also work with spider silk proteins, the future iGEM teams can note down these characteristics of MaSp1/2.  
										
								</p>
								<h4 class="font-weight-bold custom-heading">
									<i>Identified more efficient enzymes</i>
									</h4>							
									<p class="bigger-text">
										XmaI enzyme was easy to manipulate compared to SmaI and could fully cut our team’s composition part to continue the next step, T4 ligation step. When using SmaI our team needed to do a dephosphorylation enzyme step which resulted in the loss of product, this was not necessary when using XmaI. This technique can be used to clone the MaSp1 in the future by other iGEM teams. 									
									
					
						<div id="sub-second-3">
							<p class="bigger-text">
								MaSp1 and MaSp2 don’t automatically bind to the SCOBY membrane. Through research, we found that the cellulose binding domain (CBD) can solve this problem. CBD exists in organisms to help complexes bind to cellulose for catalytic activities; it is also used in labs for protein purification. If we clone CBD gene with MaSp1/2, the gene that codes for spider silk proteins, the spider silks would be able to attach to SCOBY, which is made out of cellulose. It is important for future teams to pay attention to what MaSp1/2 needs before cloning onto the plasmid. More importantly, future teams should take note of the function of CBD and can use CBD to bind desired proteins to a cellulose membrane. 					
							</p>
								<h4 class="font-weight-bold custom-heading">
									<i>Identified a simpler protocol to bind proteins to cellulose</i>
									</h4>							
									
						</div>
						<div id="sub-second-4">
							<p class="bigger-text">
							We were inspired by the previous iGEM team named LINKS China which used three types of cellulose-binding matrixes: CBM1, CBM2, CBM3 to bind different spider silk-like proteins. Yet, with current ability and time, we weren't able to complete the cloning. Therefore, our team sought an alternative to use simpler forms of CBM which is CBD. Through simpler protocol, we as a high school team with P1 lab can complete. Future teams should take note on how CBD is easier cloned and less complex compared to CBM, while both achieve the same function. 				
						</p>
								<h4 class="font-weight-bold custom-heading">
									<i>Identified various sources of CBD</i>
									</h4>							
									
						</div>
						<div id="sub-second-5">
							<p class="bigger-text">
								At the beginning of searching, our team discovered that the CBD genes in specific bacterial strains couldn’t be found in Taiwan, even after reaching out to several professional labs at universities. We dug deeper to find on the NCBI website that one yeast strain, Schizosaccharomyces pombe (S. pombe) has the CBD gene called CBM1. We decided to clone the CBD found in S. Pombe since, first, our team had done several experiments with yeast before, the Saccharomyces cerevisiae, and in addition, we found that fungi’s CBD genes are shorter than bacteria’s after research, which is easier to manipulate. If future teams encounter complex procedures and genes, they can find similar gene traits and replace them in order to simplify the process: such as using CBD for a more basic way of getting the same outcome, a more feasible and time-efficient solution. Furthermore, the future team can adjust to their availability in their labs: either using bacteria or S. Pombe if they need CBD. 					
							</p>
								<h4 class="font-weight-bold custom-heading">
									<i>Designed simple machines to test flexibility and strength of material substances</i>
									</h4>							
									
						</div>
						<div id="sub-second-6">
							<p class="bigger-text">
								Our team designed a flexibility test and strength test machine for our engineered SCOBY to see if our product had the desired enhanced characteristics. We designed our machines with adjustable clamps to hold the SCOBY width that prevents the membrane from being damaged in the process. The machines are easily comprehensible and widely applicable, so the machines we designed can be used for other teams. Since we look at shear and tensile strength, the designs could be used for testing fabric of any kind. For further details of our machine design and usage, please refer to the experiment page.  
			
							</p>
								<h4 class="font-weight-bold custom-heading">
									<i>Summary</i>
									</h4>							
									<p class="bigger-text">
										In sum, our team makes breakthrough discoveries throughout the project to successfully achieve the results. We first extracted CBD gene from S.pombe via PCR because our team has prior experience with yeast. With the CBD, it allows us to clone the two most important spider silk proteins MaSp1 and MaSp2 onto the plasmid, which contributes to the flexibility of SCOBY. Thus, we discovered the enzyme cut site of Xma1 and Kpn1 to locate on the plasmid. This is very useful for future teams when conducting similar experiments to locate CBD gene. On the other hand, we use single enzyme digestion to clone MaSp1 and MaSp2 between CBD and pGal promoter and use PCR test to ensure the correct orientation. The future team should be aware of using single enzyme digestion and the orientation of the gene. 
							</p>

							
						
						
						
							<div id="second">	
								<p class="bigger-text">
									In the project, the team engineered MaSp 1/MaSp2 and CBD genes downstream of a plasmid with a pGal promoter, allowing us to control the transcription through the presence of galactose. Therefore, our team needed to find out when our downstream gene is activated with the presence of galactose through PCR. </p>
								<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
									<center> <strong class="font-weight-extra-bold">Parts</strong></center> 
							  
								  </h2>
								 
							  <br>
						
						
								<div id="sub-second-7">
									<p class="bigger-text">
										In the project, the team engineered MaSp 1/MaSp2 and CBD genes downstream of a plasmid with a pGal promoter, allowing us to control the transcription through the presence of galactose. Therefore, our team needed to find out when our downstream gene is activated with the presence of galactose through PCR.
									</p>
								<h4 class="font-weight-bold custom-heading">
									<i>RT-qPCR Data</i>
									</h4>	
							
									<p class="bigger-text">
									<br>To achieve this goal, the team performed a Galactose Induction Time Course experiment to determine the time when the downstream gene is expressed most prominently. The team exposed the plasmid to a 2% YP-galactose solution for different time intervals: 0 mins, 30 mins, 60 mins, 90 mins, 120 mins, and 22 hours. Then, we used RT-qPCR to measure the fold change in gene expression at each time point, which helps us identify when these genes transcriptions are active. The resulting data are the following: </br>		
							</p>
						
								<div class="scaled1-image">
									<br><img src="https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650004-bargraph.jpg" alt="pcr1" width="977" height="282">
								</div>
								The mRNA induction of CBD showed strong manipulation, above 5 fold induction, in the presence of galactose at 30 mins, 14 fold induction at 60mins, and the maxium of 19 fold CBD mRNA induction at 90 mins, and then backdown to 10 fold induction at 120mins, finally no detectable CBD mRNA induction at 22hours in the presence of galactose.
								<div class="scaled1-image">
									<br>	<br><br><img src="https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650005-bargraph.jpg" alt="pcr1" width="977" height="282">
								</div>
								The mRNA induction of MaSp1-CBD showed insignificant change in the presence of galactose at 30 mins, the maximum of 2 fold induction at 60mins, and and then backdown to 1.7-1.5 fold induction at 90 and 120 mins, finally no detectable MaSp1-CBD mRNA induction at 22 hours in the presence of galactose.
								<div class="scaled1-image">
									<br><br><img src="https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650006-bargraph.jpg" alt="pcr1" width="977" height="282">
								</div>
								The mRNA induction of MaSp2-CBD showed insignificant reduction in the presence of galactose at 30 mins compared to the 0min sample, the maximum above 2 fold induction at 90 mins, and then back down to 1.7 fold and 1.3 fold induction at 120 mins and 22 hours in the presence of galactose.
					
					<p class="bigger-text">
						<br>At 0 mins, three data showed no induction level, without the presence of galactose, therefore concluding that the pGal promoter is functional. Furthermore, three RT-qPCR data all showed over two-fold induction, representing significant RNA production. Through the RT-qPCR data, we can conclude that the construction of our composite parts is functional. Therefore further iGem team can adopt our composite parts.
					</br>		
				</p>

				
				
						
							<br>
							<br>	
					<div id="third">
						<p class="bigger-text">
							<br>Our contributed parts and further data can be found on the registry: pGal1,10 <a href="http://parts.igem.org/Part:BBa_K4650000" target="_blank" rel="noopener noreferrer">BBa_K4650000</a>; CBD <a href="http://parts.igem.org/Part:BBa_K4650001" target="_blank" rel="noopener noreferrer">BBa_K4650001</a>; MaSp1 <a href="http://parts.igem.org/Part:BBa_K4650002" target="_blank" rel="noopener noreferrer">BBa_K4650002</a>; MaSp2<a href="http://parts.igem.org/Part:BBa_K4650003" target="_blank" rel="noopener noreferrer">BBa_K4650003</a>; pGal1,10-CBD<a href="http://parts.igem.org/Part:BBa_K4650004" target="_blank" rel="noopener noreferrer">BBa_K4650004</a>; pGal1,10-MaSp1-CBD <a href="http://parts.igem.org/Part:BBa_K4650005" target="_blank" rel="noopener noreferrer">BBa_K4650005</a>; pGal1,10-MaSp2-CBD<a href="http://parts.igem.org/Part:BBa_K4650006" target="_blank" rel="noopener noreferrer">BBa_K4650006</a>
						</br>	
						<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<center> <strong class="font-weight-extra-bold">EDUCATION MATERIALS</strong></h2></center>	
					</div>		
					
			<div id="sub-third-1">
				<p class="bigger-text">
					To promote synthetic biology, the team conducted two educational workshops for grade 11 and grade 7 respectively. Through the simple-to-use lesson plan and accessible content, the team aims to make more students interested and excited about molecular biology and synthetic biology. The educational workshops will give them insight and inspire them to pursue further studies in these subjects. The lecture slide for the educational workshop introduces synthetic biology and equipment. Therefore can be utilized for future iGEM teams to share knowledge about synthetic biology and molecular biology through our accessible lesson plan and slides.
				</p>
			<h2 class="font-weight-bold custom-heading">
				<i>G7-8</i>
				</h2>
	<p class="bigger-text">
		The team believes that all of our presentations can be used by other institutions according to the curriculum. The G7 slides allow the iGem team to promote synthetic biology in an engaging way. For G7, the team aims to spark the interest of young students in biology. The team focuses on the usage of lab equipment including micropipette and centrifuge. The students interested in synthetic biology will be able to perform gene extraction and see a visual of DNA in the lab. Through the lab, the students will be able to familiarize themselves with lab equipment and simple synthetic biology concepts and hope to encourage them to pursue synthetic biology and iGEM. After the workshop, it also gives an opportunity for these students to talk to the current iGEM team and supervisor, leading them to further discussion about synthetic biology and inspiring them to the field. 
</p>	

<div id="sub-third-2">
	<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSrPNA7xBKtwLxHlTRuoudeBZrvoRs-wn9jOFEC3JrMVshTavCh7_sqAK9S-R2BfdTTYTuJKusr0zWW/embed?start=false&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
			</div>
<h2 class="font-weight-bold custom-heading">
	<i>G11</i>
	</h2>
<p class="bigger-text">
	Whereas the G11 slides allow students to gain a real lab experience from the content in the textbook, further encouraging students the concepts in synthetic biology. For G11, the team constructed a workshop related to electrophoresis. Remembering from in-class lectures,  the students learned about electrophoresis prior to 11th grade. However, a limited number of them had experience in the lab or did actually hands-on experiments about electrophoresis. Therefore the team designed a unique educational workshop including concepts of PCR and distinct steps to an electrophoresis experiment. The team aims to allow students to see the content of the lecture in a real lab scenario.
</p>
</div>

	<p class="bigger-text">
		In conclusion, the presentations we provided can be taught to different levels of high school students, and the team hopes that the information from the educational workshop will benefit the students’ iGEM careers. These PPT presentations can be downloaded and edited to fit teams’ needs.
	</p>
	<div id="sub-third-3">
		<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQrfZKWN_NfmQ6eV37zqzjRX-6RlUww_XlOe2RGgIWZNsAQQH3YGUP2VydGJx-fgj2uuOjcx6KSySNi/embed?start=false&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
		<h4 class="font-weight-bold custom-heading">
			<i>Story book</i>
			</h4>	
	<p class="bigger-text">
		To further promote synthetic biology and the team’s project beyond the campus, the team created a picture book regarding the project's aim and product. Through simple pictures and diagrams, the team conveys difficult biological concepts in understandable terms. In addition, to promote it beyond the country, the team collaborated with different teachers and iGem teams to translate the picturebook into multiple languages, including Chinese, German, Russian, Spanish, and more. Our team hopes that through the picture book of multiple languages, children around the world can be inspired to the field of synthetic biology and gain a better understanding of the difficult concept through simple, engaging pictures. All of our picture books can be downloaded and used for educational purposes below.
	</p>
	<center>
		<p class="bigger-text"><u><b>
			Click To Download These Picture Books!</b></u>
		</p>
		  <br><br><br><br>
		  <h2 class="font-weight-extra-normal text-7 mb-2">
			French
		</h2>
		
		   <a href="https://static.igem.wiki/teams/4650/wiki/education/french-picture-book-compressed.pdf" download>
			<img src="https://static.igem.wiki/teams/4650/wiki/education/french-green-cover.png" alt="Cover Page" width="400" height="600">
		</a>
		<br><br><br><br>
		
		<h2 class="font-weight-extra-normal text-7 mb-2">
			Russian
		</h2>
		   <a href="https://static.igem.wiki/teams/4650/wiki/education/russian-picture-book-compressed.pdf" download>
			<img src="https://static.igem.wiki/teams/4650/wiki/education/russian-green-cover.png" alt="Cover Page" width="400" height="600">
		</a>
		<br><br><br><br>
		
		
	
		<h2 class="font-weight-extra-normal text-7 mb-2">
			German
		</h2>
		   <a href="https://static.igem.wiki/teams/4650/wiki/education/german-teacher-picture-book-compressed.pdf" download>
			<img src="https://static.igem.wiki/teams/4650/wiki/education/german-green-cover.png" alt="Cover Page" width="400" height="600">
		</a>
		<br><br><br><br>
		<h2 class="font-weight-extra-normal text-7 mb-2">
			Spanish
		</h2>
		
		   <a href="https://static.igem.wiki/teams/4650/wiki/education/spanish-picture-book-compressed.pdf" download>
			<img src="https://static.igem.wiki/teams/4650/wiki/education/spanish-green-cover.png" alt="Cover Page" width="400" height="600">
		</a>
		<br><br><br><br>
		<h2 class="font-weight-extra-normal text-7 mb-2">
			Japanese
		</h2>
		
		   <a href="https://static.igem.wiki/teams/4650/wiki/education/japanese-picture-book-compressed.pdf" download>
			<img src="https://static.igem.wiki/teams/4650/wiki/education/japanese-green-cover.png" alt="Cover Page" width="400" height="600">
		</a>
		<br><br><br><br>
		<h2 class="font-weight-extra-normal text-7 mb-2">
			Mandarin
		</h2>
		
		   <a href="https://static.igem.wiki/teams/4650/wiki/education/chinese-picture-book-compressed.pdf" download>
			<img src="https://static.igem.wiki/teams/4650/wiki/education/chinese-green-cover.png" alt="Cover Page" width="400" height="600">
		</a>
		</center>
		<br><br><br>
	</div>

	</div>
							</br>
					
								
							  </li>
							</ul>
						  </div>
						
                    </div>
                </div>
            </div>
        </div>
		</div>
		</div>
		
		<center>
			<div>
				<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/explore-removebg-preview.png" alt="Scroll Animated Image 2">
			  </div>
			<div>
				<ul class="m-2 p-2" style="list-style: none; padding: 0;">
				  <li>
					<a class="hoverg" href="{{ url_for('pages', page='engineering') }}">
				
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/engineering-button.png" style="width: 200px; height: 256px" alt="eng-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='parts-collection') }}">
	  
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/parts-button.png" style="width: 200px; height: 257px" alt="imp-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='education') }}">
		
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/education-button.png" style="width: 200px; height: 256px" alt="team-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='notebook-2023') }}">
		 
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/notebook-button.png" style="width: 200px; height: 256px" alt="safety-button">
	  
					</a>
					<a class="hoverg" href="{{ url_for('pages', page='contribution') }}">
					
						<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/contribution-button.png" style="width: 200px; height: 256px" alt="des-button">
				  
					  </a>
				  </li>
				</ul>
			  </div>
			</center>
</body>
{% endblock %}