{% extends "layout.html" %}



{% block page_content %}

    <html lang="en">

    <head>
        <style>
            /* Define your navigation bar styles */
            .sidebar{
				background-color: #8a8eae;
				padding-top: 20px;
				border-radius: 15px;
				position: sticky;
				top: 170;
				overflow-y: auto; /* Add scroll functionality for small screens */
			}

            .font-weight-semi-bold {
                text-align: left;
                line-height: 2;
            }

            .sidebar.sidebar-bg {
                width: 300px;
                margin: 0 auto;
            }

            .bigger-text {
                font-size: 20px;
                /* Adjust this value to your preference */
                font-family: 'Georgia', serif;
            }

            .col-lg-9 {
                max-width: 1300px;
                margin: 10 auto;
            }

            .scaled-image img {
                transform: scale(0.6);
                transform-origin: top left;

            }

            /* Add CSS styles to control the margin between div elements */
            .scaled-image {
                margin-bottom: -400px;
                /* You can adjust this value to control the margin size */
            }

            .scaled1-image img {
                transform: scale(0.6);
                transform-origin: top left;

            }

            .scaled1-image {
                margin-bottom: -100px;
                /* You can adjust this value to control the margin size */
            }



            :root {
                --primary-font: "Georgia", serif;
                /* Primary font for most content */
                --secondary-font: "Georgia", serif;
                /* Secondary font for headings and specific content */
            }

            body {
                font-family: var(--primary-font);
                font-size: 16px;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: var(--secondary-font);
            }

            .custom-heading {
                font-size: 20px;
                /* adjust as necessary */
                color: rgb(86, 57, 42);
            }
			.scaled2-image img {
                transform: scale(0.6);
                transform-origin: top left;

            }

            .scaled2-image {
                margin-bottom: -700px;
                /* You can adjust this value to control the margin size */
            }

            .special-content {
                font-family: var(--secondary-font);
            }
        </style>

	</head>

	<body data-plugin-scroll-spy data-plugin-options="{'target': '#sidebar'}">
		<div class="body">
			<div role="main" class="main">
				<section class="page-header page-header-modern section section-with-divider mb-0 page-header-lg" 
						style="background-image: url('https://static.igem.wiki/teams/5094/header/engineering.gif'); 
							   background-size: cover; 
							   background-position: center; 
							   height: 700px; 
							   display: flex; 
							   align-items: center; 
							   justify-content: center;
							   width: 100%;">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="font-weight-bold text-dark"></h1>
							</div>
						</div>
					</div>
				</section>
			</div>
			
						
			<div class="container-fluid- pt-3 pb-2">

				<div class="row pt-2">
					<div class="col-lg-3 position-relative">
						<aside class="sidebar sidebar-bg" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

							<h5 class="font-weight-semi-bold"><center>Engineering</center></h5>
							<ul class="nav nav-list flex-column mb-5">
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#first">What can we replace animal leather with?</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#second">How can we make SCOBY a better leather alternative?</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#third">Problems with MaSp1 and MaSp2</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#fourth">How can we bind MaSp1 and MaSp2 into SCOBY’s cellulose membrane?</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#fifth">Where can we source CBD?</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sixth">Which promoter system should we use?</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#seven">How can we grow SCOBY effectively?</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#eight">How can we test the flexibility?</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#nine">Application</a></li>




							</ul>
						
						</aside>
						


				      </div>

                <div class="col-lg-7">
					<center><h1 class="font-weight-extra-bold">NOT YET UPDATED! This is a template.</h1></center>

                    <div id="first">
					<center><img style="width:800px; height: 800px" src="" alt = "no image" ></center>	
						<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<strong class="font-weight-extra-bold">SECTION HEADER</strong>
							</h2>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
							</p>

							
							
							
					<div id="second">	
						<img style="width:600px; height: 600px" src="" alt = "filler image">
	
							<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<strong class="font-weight-extra-bold">SECTION HEADER</strong>
							</h2>
					</div>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan. 
							</p>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
							</p>
							
								<img style="width:600px; height: 600px" src="" alt = "filler image">
							
							
							
					<div id="third">

						<p class="bigger-text">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
						</p>

							<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<strong class="font-weight-extra-bold">SECTION HEADER</strong>
							</h2>
					</div>
							
						
							<h4 class="font-weight-bold custom-heading">
                                <i>SUBSECTION HEADER</i>
                            </h4>
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							<h4 class="font-weight-bold custom-heading">
                                <i>SUBSECTION HEADER</i>
                            </h4>
						
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							
							<h4 class="font-weight-bold custom-heading">
                                <i>SUBSECTION HEADER</i>
                            </h4>
						
							
							
					<div id="fourth">
						<p class="bigger-text">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>


							<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<strong class="font-weight-extra-bold">SECTION HEADER</strong>
							</h2>
					</div>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
								
					<div id="fifth">

						<img style="width:600px; height: 600px" src="" alt = "filler image">


							<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<strong class="font-weight-extra-bold">SECTION HEADER</strong>
							</h2>
					</div>
							
							
							
							
					<div id="sixth">	
						<p class="bigger-text">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>


							<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<strong class="font-weight-extra-bold">SECTION HEADER</strong>
							</h2>
					</div>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							
						<br>	<p class="bigger-text">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
						<br>	<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
								<strong class="font-weight-extra-bold">SECTION HEADER</strong>
								</h2>
								
								
								

					<div id="seven">

						<p class="bigger-text">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>


							<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<strong class="font-weight-extra-bold">SECTION HEADER</strong>
							</h2>
					</div>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							<img style="width:600px; height: 600px" src="https://static.igem.wiki/teams/4650/wiki/hopeengineer/figure-4-eng.png">
												
					<div id="eight">

						<br><img style="width:600px; height: 600px" src="" alt = "filler image">

							<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<strong class="font-weight-extra-bold">SECTION HEADER</strong>
							</h2>
					</div>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							
						
							<h4 class="font-weight-bold custom-heading">
                                <i>SUBSECTION HEADER</i>
                            </h4>
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
						<br>	<img style="width:600px; height: 700px" src="" alt = "filler image">
							<br><img style="width:600px; height: 700px" src="" alt = "filler image">
						<br>	<img style="width:600px; height: 700px" src="" alt = "filler image">
							<h4 class="font-weight-bold custom-heading">
                     <br> <br>   <br>   <i>SUBSECTION HEADER</i>
                            </h4>
						
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							<img style="width:600px; height: 500px" src="" alt = "filler image">
						
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							<img style="width:600px; height: 700px" src="" alt = "filler image">
						
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
						
					<div id="nine">

						<img style="width:600px; height: 600px" src="" alt = "filler image">

						
							<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<strong class="font-weight-extra-bold">SECTION HEADER</strong>
							</h2>
					</div>
							
							
							<p class="bigger-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.

							</p>
		</div>
		</div>
		</div>
		</div>
		</div>
		<center>
			<div>
				<img src="" alt="Scroll Animated Image 2">
			  </div>
			<div>
				<ul class="m-2 p-2" style="list-style: none; padding: 0;">
				  <li>
					<a class="hoverg" href="{{ url_for('pages', page='human-practices') }}">
				
					  <img src="" style="width: 200px; height: 256px" alt="eng-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='parts-collection') }}">
	  
					  <img src="" style="width: 200px; height: 257px" alt="imp-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='results') }}">
		
					  <img src="" style="width: 200px; height: 256px" alt="team-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='safety') }}">
		 
					  <img src="" style="width: 200px; height: 256px" alt="safety-button">
	  
					</a>
					<a class="hoverg" href="{{ url_for('pages', page='contribution') }}">
					
						<img src="" style="width: 200px; height: 256px" alt="des-button">
				  
					  </a>
				  </li>
				</ul>
			  </div>
			</center>
		</body>
		</html>
							
{% endblock %}