{% extends "layout.html" %}



{% block page_content %}

    <html lang="en">

    <head>
        <style>
            /* Define your navigation bar styles */
            .sidebar {
				background-color: #8a8eae;
				padding-top: 15px;
				border-radius: 15px;
				position: sticky;
				top: 195;
				overflow-y: auto;
      		}

            .font-weight-semi-bold {
                text-align: left;
                line-height: 2;
            }

            .sidebar.sidebar-bg {
                width: 300px;
                margin: 0 auto;
            }

            .bigger-text {
                font-size: 20px;
                /* Adjust this value to your preference */
                font-family: 'Georgia', serif;
            }

            .col-lg-9 {
                max-width: 1300px;
                margin: 10 auto;
            }
			.mid-image img {
        		transform: scale(0.85);
        		transform-origin: top left;
				margin-bottom: -100px;
    		}

            .scaled-image img {
                transform: scale(0.3);
                transform-origin: top left;

            }


            /* Add CSS styles to control the margin between div elements */
            .scaled-image {
				height: 300px; /* Set a fixed height for the container */
				overflow: hidden; /* Hide overflow content */
				display: flex;
				align-items: flex-start;
            }
			.circle-image{
				margin-bottom: 300px;
				height: 200px; /* Set a fixed height for the container */
				display: flex;
				align-items: flex-start;
				
			}

            .scaled1-image img {
                transform: scale(0.6);
                transform-origin: top left;
				display: block !important; 

            }
			.circle-image img {
                transform: scale(0.4);
                transform-origin: top left;
				display: block !important; 

            }

            .scaled1-image {
                margin-bottom: -100px;
                /* You can adjust this value to control the margin size */
            }

            .scaled2-image img {
                transform: scale(0.6);
                transform-origin: top left;

            }

            .scaled2-image {
                margin-bottom: -700px;
                /* You can adjust this value to control the margin size */
            }
            .scaled3-image img {
                transform: scale(0.6);
                transform-origin: top left;

            }

            .scaled3-image {
                margin-bottom: -550px;
                /* You can adjust this value to control the margin size */
            }

			.scaled4-image {
                margin-bottom: -400px;
                /* You can adjust this value to control the margin size */
            }
			.scaled5-image {
                margin-bottom: 0px;
                /* You can adjust this value to control the margin size */
            }
			.scaled6-image {
                margin-bottom: -600px;
                /* You can adjust this value to control the margin size */
            }

			.postcard-index {
			font-size: 16px;
			font-family: 'Georgia', serif;
		}
            :root {
                --primary-font: "Georgia", serif;
                /* Primary font for most content */
                --secondary-font: "Georgia", serif;
                /* Secondary font for headings and specific content */
            }

            body {
                font-family: var(--primary-font);
                font-size: 16px;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: var(--secondary-font);
            }

            .custom-heading {
                font-size: 20px;
                /* adjust as necessary */
                color: rgb(86, 57, 42);
            }

            .special-content {
                font-family: var(--secondary-font);
            }
        </style>



	
</head>
	<body data-plugin-scroll-spy data-plugin-options="{'target': '#sidebar'}">

		<div class="body">


			<div role="main" class="main">
				<section class="page-header page-header-modern section section-with-divider mb-0 page-header-lg" 
						style="background-image: url('https://static.igem.wiki/teams/5094/hp/human-practice.gif'); 
							   background-size: cover; 
							   background-position: center; 
							   height: 700px; 
							   display: flex; 
							   align-items: center; 
							   justify-content: center;
							    width: 100%;">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="font-weight-bold text-dark"></h1>
							</div>
						</div>
					</div>
				</section>
			</div>
			
			
				
			<div class="container-fluid- pt-3 pb-2">

				<div class="row pt-2">
					<div class="col-lg-3 position-relative">
						<aside class="sidebar sidebar-bg" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

							<h5 class="font-weight-semi-bold"><center>Categories</h5></center>
							<ul class="nav nav-list flex-column mb-5">
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#first">Summary</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#second">Survey</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#third">Expert interviews</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#fifth">Taiwan Synbio Alliance</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sixth">Further extension</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#fourth">Citation</a></li>




							</ul>
						
						</aside>
						


				      </div>
                <div class="col-lg-7">
					<center><h1 class="font-weight-extra-bold">NOT YET UPDATED! This is a template.</h1></center>

                    <div id="first">
                        <h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
                         
						  <strong class="font-weight-extra-bold">Summary</strong>
                        </h2>
                        <p class="bigger-text">
							lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  
                        </p>
                        <p class="bigger-text">
							lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum    

                        </p>
						<p class="bigger-text">
							lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum. 

                        </p>
						<p class="bigger-text">
							lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum .
                        </p>

						<p class="bigger-text">
							lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  
						</p>

						<p class="bigger-text">
							lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum   

                        </p>
						

						

						 

					</div>

					<!-- first survey -->
					<div id="second">

						<p class="bigger-text">
							lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  

						</p>

						<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<strong class="font-weight-extra-bold">Survey</strong>
						</h2>
						<h4 class="font-weight-bold custom-heading">
							<i>Survey 1 — Public Knowledge on Microplastics</i>
						</h4>
			
					</div>
						<div>
						<p class="bigger-text">
							lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  
						</p>
							<a href="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/kcis-igem-competition-goal-1-survey-google-forms-1.pdf" target="_blank" rel="noopener noreferrer">View Survey 1</a>


								<div class="scaled-image">
									<center><img src="https://static.igem.wiki/teams/5094/hp/graph-1.png"></center>
									</div>
									<center><p class="postcard-index">Graph 1. Public General Knowledge on Microplastics
									</p></center>

								</div>
						<div>
						<p class="bigger-text">
							lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  
						</p>
						</div>

						<div class="scaled-image">
							<img src="https://static.igem.wiki/teams/5094/hp/graph-2.png">
							</div>
							<center><p class="postcard-index">Graph 2. Sources of Microplastics</p></center>
							<p class="bigger-text">
								lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  
							</p>
		
							<div class="scaled-image">
								<img src="https://static.igem.wiki/teams/5094/hp/graph-3.png">
								</div>
								<center><p class="postcard-index">Graph 3. Microplastics Entering the Human Body</p></center>
								<p class="bigger-text">
									lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  
								</p>		


							<div class="scaled-image">
								<img src="https://static.igem.wiki/teams/5094/hp/graph-4.png">
								</div>
								<center><p class="postcard-index">Graph 4. Microplastics and Health</p></center>
	
								<p class="bigger-text">
									lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  
								</p>						

							<div class="circle-image">
								<img src="https://static.igem.wiki/teams/5094/hp/graph-5.png">
								</div>
								<center><p class="postcard-index">Graph 5. Microplastic in the Environment</p></center>
		
								<p class="bigger-text">
									lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  
								</p>	
						
								<div class="circle-image">
									<img src="https://static.igem.wiki/teams/5094/hp/graph-6.png"></div>
									<center><p class="postcard-index">lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  </p></center>	

								
								<div class="circle-image">
									<img src="https://static.igem.wiki/teams/5094/hp/graph-7.png">
									</div>
									<center><p class="postcard-index">lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  </p></center>
									
				
									<p class="bigger-text">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas cum quod voluptatem, cumque molestias nemo libero laboriosam temporibus sed ducimus explicabo perferendis minima est earum corporis doloremque, atque dolore sit.		 
									</p>	
						<!-- second survey -->

						
							


				
								<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
									<strong class="font-weight-extra-bold">Expert interviews
									</strong>
								</h2>
								<h4 class="font-weight-bold custom-heading">
									<i>1.Dr. Jurgita Domskiene
									</i>
								</h4>
							
									<center>
										<img style="width:1100px; height: 500px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-1-online-interview-with-dr-jurgita.png">
									</center>
									<center><p class="postcard-index">Figure 1: Online interview with Dr. Jurgita
									</p></center><br><br>


								

								<p class="bigger-text">
								<u>	Why did we approach her?</u>
									<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit accusantium aperiam in harum voluptatibus sunt porro voluptatum deserunt vitae excepturi eligendi nemo similique, sapiente non aspernatur, dolorem ad quos est.
									<br><u>	What did we learn?
									</u>
									<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, atque? Blanditiis quidem perspiciatis cumque eius facere eligendi nesciunt quisquam cupiditate, facilis nulla ex laborum temporibus at impedit doloribus adipisci. Dolorem. 
									<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus sapiente quia reiciendis necessitatibus quos, minima repellendus similique, aperiam expedita deserunt tempora ut eveniet! Temporibus, rem laudantium. In quibusdam repellat quisquam? 

							
				
				
								<p class="bigger-text">
									<u>	Application</u>
										<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, pariatur! Rerum tempore nisi nostrum accusantium est facilis, illo nesciunt minima laboriosam possimus, mollitia modi ratione, delectus enim iste voluptatum soluta.

										
									
										<div id="putai">
											<h4 class="font-weight-bold custom-heading">
												<i> 2. GRAPE KING BIO LTD
												</i>
											</h4>
											<center>
												<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-2-online-interview-with-dr-chen.png">
											</center>
											<center><p class="postcard-index">lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  lorem ipsum  

											</p></center><br><br>
										</div>

				
			
	
									<p class="bigger-text">
									<u>	Why did we approach them?</u>
										<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic officiis quia aliquid repudiandae. Repellendus inventore id cum magnam, ipsa, repellat quasi, a vitae eveniet vero rerum voluptatem consequatur dignissimos. Labore? 

									<br><br><u>	What did we learn?
										</u>
										<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt error veritatis numquam nam molestias quidem harum iste quas, asperiores minima mollitia laboriosam quibusdam aut doloremque voluptatem. Nostrum quasi ea in.

								
					
					
									<p class="bigger-text">
										<u>	Application</u>
											<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci obcaecati nihil odio delectus voluptate unde laudantium vero rerum enim. Officia, quae pariatur. Quibusdam nobis adipisci eius quia nihil impedit facilis?
									
										<p class="bigger-text">
										
												<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quia eligendi, voluptatem placeat temporibus nulla minima ipsum labore iste consequatur quibusdam quisquam qui numquam sequi consequuntur, sit magnam ab tenetur.

									
											<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea expedita cupiditate corrupti facere! Molestiae ea delectus temporibus saepe necessitatibus consequatur eveniet blanditiis quibusdam facere, aspernatur, quia tempora quisquam, minima mollitia.

									
				

										<h4 class="font-weight-bold custom-heading">
											<i>3.Mr. Andrew Nicholls
											</i>
										</h4>
										<center>
										
											<center>
												<img style="width:800px; height: 800px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-3-mr-nicholls-introduce-his-30-years-experience-in-breeding-scoby-he-also-brought-his-kombucha-to-us-and-explain-the-scientific-process-of-it.jpg">
											</center>
											<p class="postcard-index">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, voluptates fugit eos illo dolor sed ab ratione excepturi repellendus quam magnam perferendis necessitatibus ea vel doloribus officia inventore obcaecati nam.

	
		
											</p></center><br><br>
		
										<p class="bigger-text">
										<u>	Why did we approach him?</u>
											<br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus eum, recusandae culpa beatae placeat atque doloremque! Quod neque ipsa nesciunt exercitationem, unde nisi adipisci alias illo ad tenetur ullam vel.

											<br><u>	What did we learn?
											</u>
											<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio veritatis rerum quisquam eos fugiat maiores saepe iste aliquid voluptatibus ducimus officiis voluptates reprehenderit natus porro temporibus a tempora, minus recusandae!
											<br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero iste natus tempora reprehenderit soluta earum aliquid eos accusantium. Iste cumque fugiat nostrum blanditiis modi! Quasi voluptatibus delectus eligendi beatae similique? 
											<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae molestiae nisi ullam dolor voluptatibus cupiditate, quos aspernatur consequatur veniam a, suscipit quia dicta, quisquam itaque saepe sint ab deserunt sed!
											
										
						
						
										<p class="bigger-text">
											<u>	Application</u>
												<br><u>Flexibility test:</u> <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur repudiandae ex consequatur iusto sequi voluptates excepturi esse vitae recusandae facilis. Corporis id inventore assumenda facere incidunt ad dicta, optio fugiat. 

											
											<p class="bigger-text">
											
													<br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, at? Cum accusamus officiis minima. Sed adipisci distinctio alias accusantium ipsam maiores omnis quaerat molestias vel, aut illum, deleniti nobis eius.
	
											
												<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor eos vitae accusantium repellendus assumenda quam hic iusto laboriosam quod a, natus pariatur neque maxime repellat qui autem quaerat, necessitatibus cum.
	
										


											
												<div id="putai">
													<h4 class="font-weight-bold custom-heading">
														<i>4. Ms. Lianne Bell
														</i>
													</h4>
													<center>
														<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-4-online-meeting-with-ms-bell.png">
													</center>
													<center><p class="postcard-index">Figure 4: Online meeting with Ms. Bell
													</p></center><br><br>
												</div>

											
			
											<p class="bigger-text">
											<u>	Why did we approach her?</u>
												<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam perspiciatis amet numquam atque ex cum dolores ipsam molestias modi voluptatem ducimus corrupti consequatur odio, quos, nostrum sapiente consequuntur consectetur iusto.  

												<br><u>	What did we learn?
												</u>
												<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt mollitia consequuntur, illo nulla a iure voluptas pariatur dolores deleniti provident consequatur eveniet velit nemo dolore laboriosam accusantium quos, tenetur voluptatibus!
												<br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus numquam culpa nisi voluptates sed magni recusandae eos, praesentium exercitationem necessitatibus dicta earum dolor suscipit placeat maiores aspernatur, rerum minima? Assumenda. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis atque dolore doloremque rem recusandae et exercitationem dolor optio blanditiis odit aliquid, iusto nostrum dolorem neque. Recusandae sint iusto officiis hic!
												<br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis voluptates a ratione debitis, in eius aliquam dolorum assumenda aliquid cupiditate molestias sequi rerum temporibus animi consequatur est? Cupiditate, pariatur facere? Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque labore excepturi quibusdam accusantium, doloremque voluptates provident laborum ab reiciendis, dicta unde porro iure minus molestias sequi, ea repudiandae cum dolores.
												<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia eveniet eaque iste voluptate, nisi earum dolores. Ipsa, officiis quas! Aperiam quae veritatis quos voluptas laudantium quo pariatur architecto consectetur corporis.
												
										
											<div id="fifth">

													<br><br><br>

											<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
												<strong class="font-weight-extra-bold">Taiwan Synbio Alliance
												</strong>
											</h2>
											
			
											<p class="bigger-text">
						
												<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit quaerat sunt blanditiis nostrum veniam placeat. Quas aspernatur, eum consequuntur sapiente quod laborum amet officia, quam distinctio sit vero cupiditate corrupti?

												<br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate odio praesentium consequuntur cumque sunt animi alias sit vel repellat. Veniam sint aliquid facere ab blanditiis, voluptates quis! Minima, rerum non.  

										
							
											<center>
												<div class="scaled5-image">
												
													<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-5-the-first-day-of-seminar-our-group-present-our-project-with-the-designed-poster-to-others-we-also-receive-feedback-from-the-professionals.jpg">	
												</div>
												<p class="postcard-index">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nihil odit veritatis hic, odio, possimus cupiditate incidunt sunt pariatur, adipisci deleniti sed ipsa sit temporibus inventore? Veniam sint ex laborum.

												</p></center><br><br>
											
												<div id="putai">
											

											
															
												<div id="putai">

													<center>
														<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-6-this-is-the-group-photo-of-the-activity-held-by-linkou-team.jpg">
													</center>
													<center><p class="postcard-index">Figure 6: This is the group photo of the activity held by the Linkou team.
		
													</p></center><br><br>
												</div>
		
												</p></center><br><br>
	
											
											
											
											
											
												<center>
													<div class="scaled5-image">
														<center>
															<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-7-in-the-second-day-we-approach-the-mentors-to-discuss-their-feedback-regarding-our-project.jpg">
														</center>
													
													</div>
													<p class="postcard-index">Figure 7: On the second day, we approached the mentors to discuss their feedback regarding our project.
													</p></center><br><br>

													<center>
														<div class="scaled5-image">
														
															<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-8-our-group-presenting-on-stage-in-day-2.jpg">
														</div>
														<p class="postcard-index">Figure 8: Our group presented on stage on day 2.
														</p></center><br><br>


											
													</p></center>

													<div id="sixth">

														<br><br><br>

													<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
														<strong class="font-weight-extra-bold">Further extension
														</strong>
													</h2>
													</div>
													
													<div id="fourth">
													<p class="bigger-text">
															Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae quis ex, necessitatibus iure laborum nobis ipsa temporibus, repellendus tempora velit cumque repellat facere, architecto nostrum blanditiis delectus quasi minus deleniti.</p>
													</div>
									
									
												
				
					
						<h2 class="font-weight-extra-normal text-7 mb-2"><strong class="font-weight-extra-bold"><u>Citation</u></strong></h2>
						<p style="font-family: 'Georgia'">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam vitae officia similique aliquam modi, eligendi quasi perferendis consectetur impedit aspernatur placeat rerum obcaecati ipsa consequuntur, nulla culpa cum beatae? Rem?
						<p style="font-family: 'Georgia'">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur eius saepe illum sed quisquam a. Eligendi vitae, sequi, inventore aliquid ipsum sapiente voluptatem, corrupti optio sit adipisci aspernatur explicabo autem?
						<p style="font-family: 'Georgia'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sit eum a pariatur iusto dolorem adipisci veritatis, ea saepe minus, eveniet voluptatibus debitis, nam non reprehenderit ducimus voluptates expedita numquam.
						<p style="font-family: 'Georgia'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque architecto exercitationem optio distinctio, quod et aliquam officiis rerum numquam amet. Eos voluptatum neque numquam mollitia ea esse. Harum, corporis similique.
						<p style="font-family: 'Georgia'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consectetur voluptate, sunt adipisci hic sint veniam obcaecati nesciunt! Culpa accusantium architecto recusandae, assumenda enim totam inventore quod labore possimus odio.
						</div>

		</div>
		</div>
		</div>
		<center>
			<div>
				<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/explore-removebg-preview.png" alt="Scroll Animated Image 2">
			  </div>
			<div>
				<ul class="m-2 p-2" style="list-style: none; padding: 0;">
				  <li>
					<a class="hoverg" href="{{ url_for('pages', page='parts-collection') }}">
				
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/parts-button.png" style="width: 200px; height: 256px" alt="eng-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='experiments') }}">
	  
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/experiments-button.png" style="width: 200px; height: 257px" alt="imp-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='sustainable') }}">
		
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/sus-button.png" style="width: 200px; height: 256px" alt="team-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='education') }}">
		 
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/education-button.png" style="width: 200px; height: 256px" alt="safety-button">
	  
					</a>
					<a class="hoverg" href="{{ url_for('pages', page='description') }}">
					
						<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/description-button.png" style="width: 200px; height: 256px" alt="des-button">
				  
					  </a>
				  </li>
				</ul>
			  </div>
			</center>	
		</body>
	
{% endblock %}
