{% extends "layout.html" %}

{% block page_content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
		/* Define your navigation bar styles */
	.sidebar {
	background-color: rgba( 212, 184, 149);
	padding-top: 20px;
	border-radius: 15px;
	position: sticky;
	top: 0;
	overflow-y: auto; /* Add scroll functionality for small screens */
}
.font-weight-semi-bold {
	text-align: center;
	line-height: 2;
}
.sidebar.sidebar-bg {
	width: 300px;
	margin: 0 auto;
}

.bigger-text {
	font-size: 20px;  /* Adjust this value to your preference */
	font-family: 'Georgia', serif;
}

.col-lg-9 {
	max-width: 1300px;
	margin: 10 auto;
}

	.scaled-image img {
transform: scale(0.6);
transform-origin: top left;
}

:root {
--primary-font: "Georgia", serif;  /* Primary font for most content */

}

body {
font-family: var(--primary-font);
font-size: 16px;
}

.custom-heading {
    font-size: 48px; /* adjust as necessary */
    color: rgb(86, 57, 42);
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--secondary-font);
}


.special-content {
font-family: var(--secondary-font);
}
</style>
	</head>

	<body data-plugin-scroll-spy data-plugin-options="{'target': '#sidebar'}">
		<div class="body">
			<div role="main" class="main">
				<section class="page-header page-header-modern section section-with-divider mb-0 page-header-lg" 
						style="background-image: url('https://static.igem.wiki/teams/5094/header/notebook.gif'); 
							   background-size: cover; 
							   background-position: center; 
							   height: 700px; 
							   display: flex; 
							   align-items: center; 
							   justify-content: center;
							   max-width: 100%;">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="font-weight-bold text-dark"></h1>
							</div>
						</div>
					</div>
				</section>
			</div>
			
			<div class="container-fluid- pt-3 pb-2">
				<div class="row pt-2">
					<div class="col-lg-3 position-relative">
						<aside class="sidebar sidebar-bg" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
							<h5 class="font-weight-semi-bold">Month</h5>
							<ul class="nav nav-list flex-column mb-5">
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#first">January</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#second">February</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#third">March</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#fourth">April</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#fifth">May</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sixth">June</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#seventh">July</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#eighth">August</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#ninth">September</a></li>
							</ul>
						</aside>
					</div>

					<div class="col-lg-7">
						<center><h1 class="font-weight-extra-bold">NOT YET UPDATED! This is a template.</h1></center>

						<div id="first">
							<h1 class="font-weight-extra-normal custom-heading">
								<center><i><strong class="font-weight-extra-bold">2023</strong></i></center>
							</h1>
							<h2 class="font-weight-extra-normal text-7 mb-2"> 
								<strong class="font-weight-extra-bold">January</strong>
							</h2>
							<p class="bigger-text">
								<u>Week 1(1.4):</u>
								<br>Since we already decided on the topic we want to do for the competition. This week, everybody was researching and discussing the topic or project we wanted to do. Then we found another iGEM team that had a similar topic to us. We are inspired by their team that combines spider silk protein with SCOBY to make it more flexible. Since our project wants to use SCOBY as the alternative to leather, how they combined the spider silk protein has inspired us.</br>
								<br>

								<u>Week 2-4:</u>
								<br>Winter break </br>
								<br>
							</p>
							<br>
						</div>


						<div id="second">
							<h2 class="font-weight-extra-normal text-7 mb-2"> 
								<strong class="font-weight-extra-bold">February</strong>
							</h2>
							<p class="bigger-text">
								<u>Week 1(2.16):</u>
								<br>Each of the groups has given a different focus to research. Then after a discussion with our instructor, Ms. Ching, we generally made the direction of our project. We decided to make the SCOBY first as our first aim, so we researched the protocol for making SCOBY and ordered the steering kit for SCOBY. We are bringing material for making SCOBY next week.</br>
								<br>

								<u>Week 2(2.23):</u>
								<br>This week each team brought their materials and started making SCOBY in the lab. Normally, we use red tea for making kombucha that produces SCOBY as a byproduct. Nevertheless, one of the teas bad group 2 brought is ginseng tea to grow SCOBY. The smell of ginseng tea is terrible. It will be interesting to see what happens to the SCOBY growing with ginseng tea next week.</br>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-1-wet-lab-growing-scoby-2023-2-23.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-2-wet-lab-growing-scoby-2023-2-23.jpg" alt="pcr1"width="500">
									</div>
								</div>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-3-wet-lab-growing-scoby-2023-2-23.jpg" alt="pcr1"width="500">
									</div>
								</div>
							</p>
							<br>
						</div>


						<div id="third">
							<h2 class="font-weight-extra-normal text-7 mb-2"> 
								<strong class="font-weight-extra-bold">March</strong>
							</h2>
							<p class="bigger-text">
								<u>Week 1(3.2):</u>
								<br>After deciding the topic of our project, we checked for the websites from the senior team. Trying to get some references on how other teams design the project, human practice, and the design on the logo and wiki. We also started the planning section of our aim 2. Currently, we plan to do bacteria plasmid extraction, which fuses silk-like protein with cellulose-binding domain protein. Then start drafting our first version of the survey. All of us think the SCOBY we made last week stinks. Then the eppendorf of one of our teammates broke, it is lucky that the liquids inside the container are safe and no one is getting hurt as well.</br>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-1-wet-lab-bacteria-plasmid-extraction-2023-3-2.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-2-wet-lab-bacteria-plasmid-extraction-2023-3-2.jpg" alt="pcr1"width="500">
									</div>
								</div>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-3-wet-lab-bacteria-plasmid-extraction-2023-3-2.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-4-wet-lab-bacteria-plasmid-extraction-2023-3-2.jpg" alt="pcr1"width="500">
									</div>
								</div>
								<u>Week 2(3.9):</u>
								<br>This week we paraphrased protocols and researched plasmid maps, bio-bricks, and other teams’ wikis to find what is required for the competition. After research, we discovered our plasmid would not attack SCOBY. Therefore, to find a solution to our issue we thought to apply some protocols we have done before, such as T4 ligation.</br>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-1-wet-lab-turning-scoby-into-bc-2023-3-9.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-2-wet-lab-turning-scoby-into-bc-2023-3-9.jpg" alt="pcr1"width="500">
									</div>
								</div>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-3-wet-lab-turning-scoby-into-bc-2023-3-9.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-6-wet-lab-turning-scoby-into-bc-2023-3-9.jpg" alt="pcr1"width="500">
									</div>
								</div>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-7-wet-lab-turning-scoby-into-bc-2023-3-9.jpg" alt="pcr1"width="500">
									</div>
								</div>
								<u>Week 3(3.16):</u>
								<br>Our objective this week is to make the SCOBY membrane softer. As a result, we cloned a silk-like protein fused with cellulose binding domain(CBD) protein into pGal promoter plasmid, using enzyme digestion protocol. After research, we discovered that with the help of CBD, that helps our plasmid attach to the SCOBY membrane.</br>
								<br>

								<u>Week 4(3.23):</u>
								<br>We inserted the CBD gene into our E. Coli plasmids and learned how to clone silk-like proteins in our plasmid for today’s experiment. Our instructor Ms. Ching gave us a very detailed lecture on the mechanism behind the protocol. To better understand how SCOBY could be used as an eco-friendly material, we contacted a professor who had applied SCOBY in her experiment before. She, Dr. Jurgita Domskienė, is a professor who studied material science in Lithuania. We are preparing some questions for the interview, and all of our teammates were thrilled for the following meeting. Then our human practice team set up our account on Instagram.</br>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-2-wet-lab-t4-dna-ligation-2023-3-23.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-3-wet-lab-t4-dna-ligation-2023-3-23.jpg" alt="pcr1"width="500">
									</div>
									</div>
								<u>Week 5(3.30):</u>
								<br>In the fifth week of this month, we did bacteria transformation by the use of selecting bacteria within our gene. Everyone strives for their work. Give a thumbs up to the KCIS iGEM team. Nonetheless, today we forgot to put our sample on ice. Consequently, Ms. Ching reminds us to always put our sample on ice, especially for bacteria transformation. In the meanwhile, group 2 drew pictures on the LB-amp plate. The plates look cute, we can’t wait to see how it turns out with bacteria. However, Ms. Ching told us that it would be hard to see how the bacteria would grow. Oops!</br>
								<br>
							</p>
							<br>
							<div class="mid-image-container">
								<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-1-wet-lab-bacteria-transformation-and-plating-lb-amp-plate-2023-3-30.jpg" alt="pcr1"width="500">
								</div>
								<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-2-wet-lab-bacteria-transformation-and-plating-work-2023-3-30.jpg" alt="pcr1"width="500">
								</div>
								</div>
								<div class="mid-image-container">
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-3-wet-lab-bacteria-transformation-and-plating-2023-3-30.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-4-wet-lab-bacteria-transformation-and-plating-2023-3-30.jpg" alt="pcr1"width="500">
									</div>
									</div>
            			</div>


						<div id="fourth">
							<h2 class="font-weight-extra-normal text-7 mb-2"> 
								<strong class="font-weight-extra-bold">April</strong>
							</h2>
							<p class="bigger-text">
								<u>Week 1(4.6):</u>
								<br>Today we are doing bacteria transformation, but instead of doing it individually, this time we made a master mix. And since we are progressing along the way, our experiment has proceeded smoothly. Still, we need to pay more attention while labeling the information of agar, we were labeled on the wrong side this time. We need to label information on the side of the agar, not the cover! For the rest of the class, Ms. Ching taught us about enzyme digestion, specifically for double digestion.</br>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-1-wet-lab-single-bacteria-colonies-selection-2023-04-06.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-2-wet-lab-single-bacteria-colonies-selection-2023-04-06.jpg" alt="pcr1"width="500">
									</div>
									</div>
									<div class="mid-image-container">
										<div class="mid-image">
											<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-4-wet-lab-single-bacteria-colonies-selection-2023-04-06.jpg" alt="pcr1"width="500">
										</div>
										<div class="mid-image">
											<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-5-wet-lab-single-bacteria-colonies-selection-2023-04-06.jpg" alt="pcr1"width="500">
										</div>
										</div>

								<u>Week 2(4.13):</u>
								<br>After doing bacteria transformation, we need to make sure the plasmid has the gene we want. Therefore this week we do PCR, and then research on how gel electrophoresis results indicated the plasmid and experiment result. After running the gel, there was only one sample working in group 2. Maybe we need to double-check if the bacteria we cultivated last time had our plasmid inside.</br>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-1-wet-lab-run-cbd-cellulose-binding-domain-pcr-on-the-agarose-gel-2023-04-13.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-3-wet-lab-run-cbd-cellulose-binding-domain-pcr-on-the-agarose-gel-2023-04-13.jpg" alt="pcr1"width="500">
									</div>
									</div>
									<div class="mid-image-container">
									<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-5-wet-lab-run-cbd-cellulose-binding-domain-pcr-on-the-agarose-gel-2023-04-13.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-7-wet-lab-run-cbd-cellulose-binding-domain-pcr-on-the-agarose-gel-2023-04-13.png" alt="pcr1"width="500">
									</div>
									</div>
									
								<u>Week 3(4.20):</u>
								<br>This week  We set up a meeting with Dr. Jurgita Domskienė, who is a professional in material science. Then we do yeast transformation, transforming our pGal-CBD plasmid into the wild yeast strain(BY4741). However, only parts of the group 1 and 2 do the experiment since it is near midterm. I can see almost everyone passing out and busily reviewing for the exams. </br>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-1-wet-lab-inserting-bacteria-into-yeast-2023-04-20.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-2-wet-lab-inserting-bacteria-into-yeast-2023-04-20.jpg" alt="pcr1"width="500">
									</div>
									</div>
									<div class="mid-image-container">
									<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-3-wet-lab-inserting-bacteria-into-yeast-2023-04-20.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-4-wet-lab-inserting-bacteria-into-yeast-2023-04-20.jpg" alt="pcr1"width="500">
									</div>
									</div>
								<u>Week 4(4.27):</u>
								<br>This week we began to research and brainstorm procedures to assist our test in strength of the SCOBY. Then we redid the yeast transformation again with Ms. Ching, while Ms. Ching found out some of the plates last week grew bacteria instead of yeast. She told us that might be because the plates are somehow contaminated, therefore it grows the bacteria solely. We smelled the plates, they were so gross like rotten eggs. Then we smell the plates that grow yeast, compared to bacteria it smells much better, yeast smells like alcohol.</br>
								<br>
							</p>
							<br>
            			</div>


						<div id="fifth">
							<h2 class="font-weight-extra-normal text-7 mb-2"> 
								<strong class="font-weight-extra-bold">May</strong>
							</h2>
							<p class="bigger-text">
								<u>Week 1(5.4):</u>
								<br>We kept on working on our aim 2, which was to insert CBD and silk-like protein into our plasmid. Our silk-like protein has 2 genes, Masp1, and Masp2. The private company synthesized those two genes and put them on different plasmids. As a result, we need to extract genes out of the plasmid. Then while experimenting, one of our team leaders - Melody - dripped phenol-chloroform on her arm. Her arm turned red, :(</br>
								<br>
								<div class="mid-image-container">
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-1-wet-lab-bacteria-plasmid-extraction-2023-3-2.jpg" alt="pcr1"width="800" >
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-3-wet-lab-bacteria-plasmid-extraction-2023-05-04.jpg" alt="pcr1"width="800" >
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-4-wet-lab-bacteria-plasmid-extraction-2023-05-04.jpg" alt="pcr1"width="800" >
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-8-wet-lab-bacteria-plasmid-extraction-2023-05-04.jpg" alt="pcr1"width="800" >
									</div>
									<div class="mid-image">
										<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-12-wet-lab-bacteria-plasmid-extraction-2023-05-04.jpg" alt="pcr1"width="800" >
									</div>
								<u>Week 2(5.11):</u>
								<br>This week Ms.Ching assigned different tasks for each group to complete. The task for group 1 is to design experiments to test the strength of regular SCOBY and our modified SCOBY. The task for group 2 is producing more SCOBY. The task for group 3 is to inoculate the cloning of pGal-Masp1-CBD bacterial colonies and then determine which one contained our plasmid. When group 2 boiled the tea with sugar on the heater while stirring it, the tea spilled outside on the burner. Because the solution contains sugar in it, therefore it went sticky, which is terrible. Then when group 1 designed the protocol to test the strength of SCOBY, they realized SCOBY is too fragile to use a luggage scale for measurement. For this reason, another method might be more suitable. Moreover, we are confused about how we can test the strength of SCOBY, whether it is before it's dried or after. Correspondingly, we decided to measure both of them currently.</br>
								<br>
								<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-1-wet-lab-testing-flexibility-way-3-2023-05-11.jpg" alt="pcr1"width="800" >
								</div>
								<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-3-wet-lab-inoculating-and-pcr-for-bacteria-candidates-2023-05-11.jpg" alt="pcr1"width="800" >
								</div>
								<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-4-wet-lab-scoby-growing-second-batch-2023-05-11.jpg" alt="pcr1"width="800" >
								</div>
								<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-7-wet-lab-scoby-growing-second-batch-2023-05-11-heic.jpg" alt="pcr1"width="800" >
								</div>
								<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-9-wet-lab-scoby-growing-second-batch-2023-05-11-heic.jpg" alt="pcr1"width="800" >
								</div>
								<u>Week 3(12.18):</u>
								<br>For the third week of May, we used gel electrophoresis to check if we successfully inserted a gene into the plasmid. And yes we did succeed, great news!!!!!!!!!!</br>
								<br>
								<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/img-0030.jpg" alt="pcr1"width="800" >
								</div>
								<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/img-0033.jpg" alt="pcr1"width="800" >
								</div>
								<u>Week 4(5.25):</u>
								<br>This week we begin to brainstorm our aim 3, which is the application of our project. Except apply it in the leather industry. We could also apply SCOBY in medical fields; we can make it antibacterial to make products like bandages. Then we planned our promotion video and PowerPoint presentation. Together, we watched some examples from other teams and prepared for the presentation next week to the senior team.</br>
								<br>
							</p>
            			</div>


						<div id="sixth">
							<h2 class="font-weight-extra-normal text-7 mb-2"> 
								<strong class="font-weight-extra-bold">June</strong>
							</h2>
							<p class="bigger-text">
								<u>Week 1(6.1):</u>
								<br>PRESENTATION TO THE SENIOR TEAM!!!!!!!!!</br>
								<br>

								<u>Week 2(6.8):</u>
								<br>Initially, we met with a professional on the production of kombucha from the GrapeKing company. We asked some questions about the application on SCOBY to get some ideas on our Aim 3 application. Afterward, we organized some work we needed to do in the summer. Then we meet with an iGEM team, Team Bulgaria, to discuss some progress each of us has made.</br>
								<br>

								<u>Week 3(6.15):</u>
								<br>It is our finals week, and as a result, we only schedule some meetings with other teams. We met with the CCU iGem Team this week.</br>
								<br>

								<u>Week 4:</u>
								<br>We arranged a meeting with VIT (India) and the iGEM AIX Team and we had a great time through Google Meet!</br>
								<br>
							</p>
            			</div>


						<div id="seventh">
                            <h2 class="font-weight-extra-normal text-7 mb-2"> 
                                <strong class="font-weight-extra-bold">July</strong>
                            </h2>
                            <p class="bigger-text">
                                <u>Week 1:</u>
                                <br>All of our members specifically read about last year's wiki and clarified what needs to be written on the website.</br>
                                <br>

                                <u>Week 2:</u>
                                <br>Starting to work on the description and the experiment pages of the wiki.</br>
                                <br>

                                <u>Week 3:</u>
                                <br>We arranged a meeting with the Korean team. Then we keep working on the description and the experiment page. We also started to work on the presentation we were going to present at the conference in August.</br>
                                <br>
                                <div class="mid-image-container">
                                    <div class="mid-image">
                                        <img src="https://static.igem.wiki/teams/4650/wiki/notebook/2023-july-week-3.png" alt="pcr1"width="500">
                                    </div>
                                </div>
                                <u>Week 4:</u>
                                <br>Keep working on the description page, the experiment page, and the protocols collection!!!!</br>
                                <br>
                            </p>
                        </div>


                        <div id="eighth">
                            <h2 class="font-weight-extra-normal text-7 mb-2"> 
                                <strong class="font-weight-extra-bold">August</strong>
                            </h2>
                            <p class="bigger-text">
                                <u>Week 1:</u>
                                <br>We arrange a meeting with team ASIJ, and the rest of the time everybody keeps working on their wiki page and enjoying their vacation.</br>
                                <br>
								<div class="mid-image-container">
                                    <div class="mid-image">
                                        <img src="https://static.igem.wiki/teams/4650/wiki/notebook/2023-august-week-1.png" alt="pcr1"width="500">
                                    </div>
									</div>
                                <u>Week 2:</u>
                                <br>This week we met with the NYCU and East Coast Biocrew team. The Weblab group is working on the flexibility assay and getting a start on the result page.</br>
                                <br>
								<div class="mid-image-container">
                                    <div class="mid-image">
                                        <img src="https://static.igem.wiki/teams/4650/wiki/notebook/2023-august-week2.png" alt="pcr1"width="500">
                                    </div>
									</div>
                                <u>Week 3:</u>
                                <br>This week is the summer course at our school. On the first day, we met Andrew Nicholls, who makes kombucha on his own at home, to share some experience and knowledge about kombucha and SCOBY. We also drank some kombucha made by him! It’s really a cool experience for us. (although I personally hate the taste and smell – Nicole)
                                We did some work on the wikis and then modified the poster and presentation for the conferences we are going to this weekend. We spent a lot of time practicing, and fortunately, the presentation went successfully. This conference gave us an opportunity to discuss our project and experiment with the iGEM team from a distinct part of Taiwan. We shared some ideas and examined their topics. Through the discussion, we received a lot of feedback on our presentation or project. That gave us a further understanding of how to make improvements in the future. We scheduled a meeting with Queen University and discussed our project together. 
                                Other than the conference, we planned to make the flexibility test machine. We discussed some ideas on how it should clamp the SCOBY, then we drew the first version of the blueprint. 
                                </br>
                                <br>
								<div class="mid-image-container">
                                    <div class="mid-image">
                                        <img src="https://static.igem.wiki/teams/4650/wiki/notebook/2023-august-week-3.png" alt="pcr1"width="500">
                                    </div>
									</div>
                                <u>Week 4:</u>
                                <br>Everyone kept working on the wiki and the first draft of our RTq-PCR was done.</br>
                                <br>
								<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-2-wet-lab-inserting-bacteria-into-yeast-2023-04-27.jpg" alt="pcr1"width="500">
								</div>
									<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-3-wet-lab-inserting-bacteria-into-yeast-2023-04-27.jpg" alt="pcr1"width="500">
									</div>
									
									<div class="mid-image-container">
									<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-4-wet-lab-inserting-bacteria-into-yeast-2023-04-27.jpg" alt="pcr1"width="500">
									</div>
									<div class="mid-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/notebook/fig-1-wet-lab-inserting-bacteria-into-yeast-2023-04-27.jpg" alt="pcr1"width="500">
									</div>
									</div>
                            </p>
                        </div>



						<div id="ninth">
                            <h2 class="font-weight-extra-normal text-7 mb-2"> 
                                <strong class="font-weight-extra-bold">September</strong>
                            </h2>
                            <p class="bigger-text">
                                <u>Week 1:</u>
                                <br>School started this week! In the first week of school, we continued to refine our wiki pages and prepare for our promotion video. Our flexibility test is nearly done; for the rest of the time, we need to make our flexibility machines. We added Arduino to the design and drew the second version of the blueprint. Then we made some new SCOBY for the following experiments.</br>
                                <br>

                                <u>Week 2:</u>
                                <br>We found that the SCOBY we made last week was dead! (ughhhh) We suspected putting the mother SCOBY in the refrigerator might be the reason. We need to make more SCOBY, but this Friday we have to take pictures for the yearbook. It seems like we can only make SCOBY in the third week.
                                HP: We arranged meetings with the iGem Kyoto Team from Japan and iGem Bochum from Germany to exchange ideas. 
                                Flexibility test: We finalized the design of the structure and bought the vise. A teacher who taught us carpentry techniques last year — Kurt Chen helped us build the wooden frame. We altered the Arduino design, inspired by water.
                                </br>
                                <br>
                              <br>  <div class="mid-image-container">
                                    <div class="mid-image">
                                        <img src="https://static.igem.wiki/teams/4650/wiki/notebook/2023-july-week-3.png" alt="pcr1"width="500">
                                    </div></br>
                                    <div class="mid-image-container">
                                        <div class="mid-image">
                                            <img src="https://static.igem.wiki/teams/4650/wiki/notebook/2023-september-week-3.png" alt="pcr1"width="500">
                                        </div>
										</div>
										</div>
										</p>
										</div>
							
			
			</div>

                                <u>Week 3:</u>
                                <br>We made a new batch of SCOBY (3 jars this time) with the mother SCOBY we bought online. We are going to insert the silk-like protein and CBD in two weeks.
                                Flexibility test: We contacted Mr. Kurt Chen, for the wood pieces to make the flexibility machines. We built and tested the Arduino design, but it was not feasible (it is hard to control the rectangular prism, it was too heavy and shaky when lowered down), for this reason, we altered our design with the help of two physics students and drew a new blueprint.
                                </br>
                                <br>

                                <u>Week 4:</u>
                                <br>This week has been really exhausting but fulfilling. At the beginning of this week, we tried to dry SCOBY with the oven for 3 days in separate time sections. Even though the oven has a timing function due to school policy, the machine can only operate when the operator and supervisor are present in school; therefore, we had to check the SCOBY every break. After a long time of working, we FINALLY dried our first SCOBY!  We tried all of the access SCOBY just for trial. In the following, we bought more mother SCOBY online and decided to make another batch (8 jars) for later gene insertion.
                                Flexibility test: The flexibility team tested two flexibility testing machines, Kurt #1 and Kurt #2 and we printed out the 3D modeling parts. Furthermore, we built and tested the new Arduino design, but we found it is not feasible (the Arduino motor isn't strong enough to work like a rope tow, the contact area is too large, hard to apply pressure on SCOBY). We bought a force gauge and abandoned the Arduino design instead; however, the wooden frame is very good and the vise clamps the SCOBY really firm. ) To improve our machine, we asked Andy Shao (the vex teacher), and he suggested using tt Gearmotor. Still, the experiment would just have inaccurate data if we used Arduino.
                                HP: For human practice, we established a KC Library X iGEM KCIS Xiugang workshop that taught KCIS students about SDGs 17  and how they relate to our project. The Kahoot game we played in the workshop was really fun! We tell that the students all paid attention, and they ended up getting candy since they did a great job! In addition to the workshop, we also exhibit posters in the KC Library, including a detailed explanation of how our project is related to SDGs #12 and #15. Lastly, we host SDG quiz activities, “I can SDG contest”, and a picture book display in the library, urging younger students to learn more SDG knowledge and test themselves!
                                </br>
                                <br>
                                <div class="mid-image-container">
                                    <div class="mid-image">
                                        <img src="https://static.igem.wiki/teams/4650/wiki/notebook/pic-1-2023-9-dried-scoby.jpeg" alt="pcr1"width="500" >
                                    </div>
                                    <div class="mid-image-container">
                                        <div class="mid-image">
                                            <img src="https://static.igem.wiki/teams/4650/wiki/notebook/pic-2-2023-9-dried-scoby.jpg" alt="pcr1"width="800" >
                                        </div>
							</p>
							</div>
  
		<center>
			<div>
				<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/explore-removebg-preview.png" alt="Scroll Animated Image 2">
			  </div>
			<div>
				<ul class="m-2 p-2" style="list-style: none; padding: 0;">
				  <li>
					<a class="hoverg" href="{{ url_for('pages', page='engineering') }}">
				
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/engineering-button.png" style="width: 200px; height: 256px" alt="eng-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='experiments') }}">
	  
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/experiments-button.png" style="width: 200px; height: 257px" alt="imp-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='results') }}">
		
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/results-button.png" style="width: 200px; height: 256px" alt="team-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='human-practices') }}">
		 
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/hp-button.png" style="width: 200px; height: 256px" alt="safety-button">
	  
					</a>
					<a class="hoverg" href="{{ url_for('pages', page='description') }}">
					
						<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/description-button.png" style="width: 200px; height: 256px" alt="des-button">
				  
					  </a>
					  </li>
					  
				  </li>
				</ul>
				</div>
				</center>

		</div>
		</div>
			</div></div>
		

	</body>
	</html>
{% endblock %}
