
{% extends "layout.html" %}



{% block page_content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<style>

        /* Define your navigation bar styles */
	.sidebar {
	background-color: #8a8eae;
	padding-top: 15px;
	border-radius: 15px;
	position: sticky;
	top: 195;
	overflow-y: auto; /* Add scroll functionality for small screens */
    }
	.font-weight-semi-bold {
        text-align: center;
        line-height: 2;
    }
    .sidebar.sidebar-bg {
        width: 300px;
        margin: 0 auto;
    }

	.bigger-text {
        font-size: 20px;  /* Adjust this value to your preference */
        font-family: 'Georgia', serif;
    }

    .col-lg-9 {
        max-width: 1300px;
        margin: 10 auto;
    }

	.mid-image img {
        transform: scale(0.85);
        transform-origin: top left;
		margin-bottom: -100px;
    }
	:root {
    --primary-font: "Georgia", serif;   /* Secondary font for headings and specific content */
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}


	.special-content {
    font-family: var(--secondary-font);
}


.reduce-space {
    margin-bottom:0;
    padding:0;
    font-size: 0;  /* To counteract whitespace inherent with inline-block */
}

.reduce-space img {
    vertical-align: top;
}

.scaled-image img {
    transform: scale(0.6);
    transform-origin: top left;

}
								/* Add CSS styles to control the margin between div elements */
								.scaled-image {
								  margin-bottom: -400px; /* You can adjust this value to control the margin size */
								}
								.scaled1-image img {
    transform: scale(0.6);
    transform-origin: top left;

}
								.scaled1-image {
								  margin-bottom: -100px; /* You can adjust this value to control the margin size */
								}

	
		</style>
	
</head>

	<body data-plugin-scroll-spy data-plugin-options="{'target': '#sidebar'}">

		<div class="body">


			<div role="main" class="main">
				<section class="page-header page-header-modern section section-with-divider mb-0 page-header-lg" 
						style="background-image: url('https://static.igem.wiki/teams/5094/wet-lab/header-part-collection.gif'); 
							   background-size: cover; 
							   background-position: center; 
							   height: 700px; 
							   display: flex; 
							   align-items: center; 
							   justify-content: center;
							    width: 100%;">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="font-weight-bold text-dark"></h1>
							</div>
						</div>
					</div>
				</section>
			</div>
			
			
				
			<div class="container-fluid- pt-3 pb-2">

				<div class="row pt-2">
					<div class="col-lg-3 position-relative">
						<aside class="sidebar sidebar-bg" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

							<h5 class="font-weight-semi-bold">Parts Collection</h5>
							<ul class="nav nav-list flex-column mb-5">
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#first">Introduction</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#second">Design and importance of each part</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#third">Obtaining materials and challenges creating the parts</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#fourth">Part Tests</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#fifth">Biosafety</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sixth">Works Cited</a></li>



							</ul>
						
						</aside>
						


				      </div>
                <div class="col-lg-7">
					<center><h1 class="font-weight-extra-bold">NOT YET UPDATED! This is a template.</h1></center>

                    <div id="first">
                        <h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
                          <center> <strong class="font-weight-extra-bold">Part Collection</strong></center> 
						  <strong class="font-weight-extra-bold">Introduction</strong>
                        </h2>
                        <p class="bigger-text">
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt nobis molestias voluptatibus et dolorum perferendis, velit voluptas, ratione animi quod magni illo illum temporibus corporis deleniti ducimus, id sed culpa?
                        </p>
                        <p class="bigger-text">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur molestias animi, magni sit in minus, praesentium vero, ratione commodi ipsum error modi fugiat! Iste itaque est ex sed corporis eius!
                        </p>
                        
					</div>

					<div id="second">	
						<p class="bigger-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum illo, autem provident maxime quas exercitationem eaque quibusdam odio obcaecati ipsum nostrum consequatur quae unde magnam amet fuga eligendi sit labore!
                        </p>
						
					</div>
					<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
						<strong class="font-weight-extra-bold">Design and importance of each part </strong>
					</h2>
					<p class="bigger-text">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt alias aperiam pariatur earum dolorem quisquam, corporis, voluptatem quod veritatis consequatur numquam, tempora dicta tempore rerum soluta impedit ea nemo optio.
					</p>
					<p class="bigger-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quibusdam voluptatum modi aliquid. Cumque, aliquid quisquam dignissimos odit cupiditate ipsa sed voluptates in ducimus nesciunt vitae eius incidunt dolore aperiam.

					</p>
					<p class="bigger-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt reprehenderit, nihil rem ipsam quos non exercitationem at inventore? Itaque necessitatibus amet sed, ut doloremque quasi quos quod accusantium pariatur veritatis!					
					</p>

					<p class="bigger-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit blanditiis animi, consequuntur sunt quas nemo nobis aspernatur a dolorum iusto doloremque adipisci fuga minus assumenda autem inventore libero error. Excepturi!
					</p>

					<p class="bigger-text">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam exercitationem officiis eos repellat fuga reprehenderit, omnis labore facilis rerum. Consequatur, dolorem repellendus. Tempore corrupti sapiente voluptates cumque distinctio saepe error?
					</p>


					<div id="third">
						<p class="bigger-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ad corrupti deleniti earum facilis optio dignissimos, at perspiciatis repudiandae! Rerum iure praesentium rem, animi voluptatum molestias iusto distinctio eos natus!
						</p>
					</div>
					<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
						<u><strong class="font-weight-extra-bold">Obtaining materials and challenges creating the parts </strong></u>
					   </h2>
					   <p class="bigger-text">
							 <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem iusto dolores quod ad illum dolore reprehenderit unde consectetur, voluptatem alias illo corporis cumque. Aspernatur iste culpa distinctio asperiores aperiam. Cumque.</br>
					   </p>
					<p class="bigger-text">
				<u>	Creation of part  <a href="http://parts.igem.org/Part:BBa_K4650000" target="_blank" rel="noopener noreferrer">BBa_K4650000</a>(pGal1,10): </u>	

						<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae provident accusamus sunt libero reiciendis! Velit commodi neque soluta labore laboriosam, repellat laudantium praesentium eaque natus ipsum dicta quidem. Natus, quod!</br>
					</p>
					<p class="bigger-text">
				<u>Creation of  <a href="http://parts.igem.org/Part:BBa_K4650001" target="_blank" rel="noopener noreferrer">BBa_K4650001</a>(CBD): </u>	
						<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ullam provident porro? Asperiores dolore debitis delectus nam ipsa eaque sequi! Hic aliquid autem iste ipsam, voluptatibus porro dolorem deleniti. Libero.</br>

					</p>
					<p class="bigger-text">
					<u>Creation of  <a href="http://parts.igem.org/Part:BBa_K4650002" target="_blank" rel="noopener noreferrer">BBa_K4650002</a> (MaSp1) and  <a href="http://parts.igem.org/Part:BBa_K4650003" target="_blank" rel="noopener noreferrer">BBa_K4650003</a> (MaSp2):</u>
						<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, reprehenderit, dolorem suscipit ullam, similique recusandae obcaecati vel maiores at illo corrupti! Reprehenderit temporibus mollitia exercitationem porro quia consequuntur iusto doloremque!</br>
					</p>

					<p class="bigger-text">
						<u>	Creation of composite parts, Biobrick  <a href="http://parts.igem.org/Part:BBa_K4650004" target="_blank" rel="noopener noreferrer">BBa_K4650004</a>(pGal1,10-CBD),
					<br>	 
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis nisi maxime, eveniet et dignissimos vitae aspernatur veniam provident, ipsa repudiandae laudantium dolor ex ad dolorem fugit dolorum quae eius error?			
					</u>
					</p>

					<p class="bigger-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eveniet dolorem quam temporibus ab animi unde est aperiam ex tenetur minima hic aut inventore nesciunt, voluptatibus natus libero, ipsam iste.
					</p>

					<p class="bigger-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt unde velit aut officia tenetur exercitationem hic vero! Ad nostrum, vero nesciunt accusantium provident soluta debitis fugit dolores iste magnam ea.
					</p>


					<div id="fourth">
						<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
                            <strong class="font-weight-extra-bold">Part Tests 
							</strong>
                        </h2>
						<p class="bigger-text">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, quo blanditiis consectetur eveniet nisi natus animi neque nobis nemo voluptates unde quis repellendus ducimus, dolorum id quasi sequi ab saepe.
                        </p>
					
						<p class="bigger-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptatem debitis corporis vel rem, officiis porro magni? Vero, accusamus. Quibusdam iure nam officiis maxime doloribus vel laudantium aliquam magni laboriosam! 
                        </p>
					
						<p class="bigger-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus animi placeat quasi porro, debitis, impedit voluptatem repellendus eligendi est delectus velit molestiae suscipit sed, minima nesciunt nobis aliquam beatae perferendis?
                        </p>
				
						<p class="bigger-text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ut tenetur molestias, veniam sequi, reiciendis ea laborum minima maxime id aliquam esse vel temporibus quas quo ducimus eos tempora perspiciatis.
                        </p>
						
						<p class="bigger-text">
							<br> <u>PCR and electrophoresis</u> </br>

							<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, itaque quasi, architecto sint accusamus repellendus consectetur voluptate adipisci maxime rem totam, voluptates dolore? Temporibus excepturi, et natus sapiente veniam rem.
						</br>
                        </p>
						<div class="mid-image">
						<img src="https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650004-pcr.jpg" alt="pcr1" width="1200">
					</div>
						<center>	<p class="bigger-text">
						Bacterial colonies containing BBa_K4650004 show CBD full-length PCR products   </p> </center>
						<div class="mid-image">
						 <img src=" https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650005-pcr.jpg" alt="pcr1" width="1200">
						</div>
						 <center>	<p class="bigger-text">
							Bacterial colonies containing BBa_K4650005 show MaSp1-CBD full-length PCR products
						 </p></center>
						 <div class="mid-image">
						 <img src=" https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650006-pcr.jpg" alt="pcr1" width="1200">
						</div>
						 <center>	<p class="bigger-text">
							Bacterial colonies containing BBa_K4650006 show MaSp2-CBD full-length PCR products 
						 </p></center>

						 <p class="bigger-text">
							<br> <u>DNA sequencing from outside companies</u> </br>

							<div class="body">
								<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse quo nulla commodi reiciendis aperiam, tempora ab eveniet veniam non dolores vero, dolorum in necessitatibus autem est, soluta quas deleniti facilis!</p>
							</div>
								<div class="scaled-image">
								
										<img src="https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650004-1.jpg" alt="pcr1" width="1200">
									</div>
										<div class="scaled-image">
							
										<img src="https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650005-1.jpg" alt="" width="1200">
									</div>
										<div class="scaled-image">
									
								
										<img src="https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650006-1.jpg" alt="" width="1200">
				
										</div>
						
							
								
	

	

							<p class="bigger-text">
								<br> <u>RT-qPCR	</u> </br>
	
								<br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium facilis maxime aspernatur eveniet asperiores quasi voluptas quo molestias saepe? Esse sunt incidunt, dolorum magnam praesentium labore aliquid. Id, optio nulla.
								<div class="scaled1-image">
								<img src=" 	https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650004-bargraph.jpg" alt="pcr1" width="1200">
								</div>
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas natus vel qui, ab blanditiis tempore dignissimos illo odio aut mollitia consectetur architecto quisquam voluptates deserunt ipsum alias? Facilis, recusandae mollitia?
								<div class="scaled1-image">
								<br><img src="https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650005-bargraph.jpg" alt="pcr1" width="1200">
								</div>
								Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae earum praesentium facere commodi. Labore dolorem, vitae quisquam sint impedit maiores aspernatur natus velit in eos facilis, quidem, nisi molestiae deleniti.
								<div class="scaled1-image">
								<br><img src="https://static.igem.wiki/teams/4650/wiki/parts-image/bba-k4650006-bargraph.jpg" alt="pcr1" width="1200">
								</div>
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi laudantium, quibusdam saepe provident perspiciatis quod repellat impedit illum ut asperiores numquam non culpa molestias vero officiis reiciendis debitis, et earum.
					</div>	
					<br>

					<div id="fifth">
					<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
						<strong class="font-weight-extra-bold">Biosafety
						</strong>
					</h2>
					<p class="bigger-text">
						<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia facilis tempora dignissimos dolore quis ex delectus totam repudiandae voluptatibus dicta tenetur, laboriosam pariatur corporis iste alias. Dicta nam ullam amet.
					</div>
				
							
					<div id="sixth">
									<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
										<strong class="font-weight-extra-bold">Works Cited
										</strong>
									</h2>
									<p class="bigger-text">
										<br> [1] LINKS_CHINA. Description. Available from: https://2021.igem.org/Team:LINKS_China/Description [Accessed September 28 2023]. </br>
										<br> [2] O’Connor CM. 13.1: Regulation of the GAL1 promoter. California: Libretexts. https://bio.libretexts.org/Bookshelves/Cell_and_Molecular_Biology/Book%3A_Investigations_in_<br>Molecular_Cell_Biology_(O%27Connor)</br>/13%3A_Protein_overexpression/13.01%3A_Regulation_of_the_GAL1_promoter.</br>
										<br> [3] Linder M, Teeri TT. The cellulose-binding domain of the major cellobiohydrolase of Trichoderma reesei exhibits true reversibility and a high exchange rate on crystalline cellulose. PNAS. 1996; 93(22): 12251-12255. Available from: doi:10.1073/pnas.93.22.12251.</br>
										<br> [4] Levy I, Shoseyov O. Cellulose-binding domains: Biotechnological applications. Biotechnology Advances. 2002;20: 191–213. Available from: doi:10.1016/S0734-9750(02)00006-X.
									</br>
										<br> [5] Doi RH, Park JS, Shin HS. Fusion proteins containing cellulose-binding domains. Methods in Enzymology. 2000;326: 418-429. Available from: doi:10.1016/S0076-6879(00)26067-9.
									</br>
										<br> [6] Tian M. Expression and Purification of A Synthetic Spider Silk Protein In Arabidopsis thaliana. Master thesis. University of Wyoming; 2003.
										</br>
										<br> [7] Römer L, Scheibel T. The elaborate structure of spider silk: structure and function of a natural high performance fiber. Prion. 2008; 2(4): 154-61. Available from: doi:10.4161/pri.2.4.7490. </br>
							
							
							
								</br>
								</p>
					</div>
						
						
						
						
							</br>
                        </p>
						
                    </div>
                </div>
            </div>
			<center>
				<div>
					<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/explore-removebg-preview.png" alt="Scroll Animated Image 2">
				  </div>
				<div>
					<ul class="m-2 p-2" style="list-style: none; padding: 0;">
					  <li>
						<a class="hoverg" href="{{ url_for('pages', page='engineering') }}">
					
						  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/engineering-button.png" style="width: 200px; height: 256px" alt="eng-button">
		  
						</a>            
						<a class="hoverg" href="{{ url_for('pages', page='experiments') }}">
		  
						  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/experiments-button.png" style="width: 200px; height: 257px" alt="imp-button">
		  
						</a>            
						<a class="hoverg" href="{{ url_for('pages', page='results') }}">
			
						  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/results-button.png" style="width: 200px; height: 256px" alt="team-button">
		  
						</a>            
						<a class="hoverg" href="{{ url_for('pages', page='human-practices') }}">
			 
						  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/hp-button.png" style="width: 200px; height: 256px" alt="safety-button">
		  
						</a>
						<a class="hoverg" href="{{ url_for('pages', page='description') }}">
						
							<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/description-button.png" style="width: 200px; height: 256px" alt="des-button">
					  
						  </a>
						  </li>
						  
					  </li>
					</ul>
					</div>
					</center>
</body>
</html>
{% endblock %}