
{% extends "layout.html" %}

{% block page_content %}
<div class="container-fluid" style="padding: 0;">
<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			/* Define your navigation bar styles */
			.sidebar {
				background-color: #8a8eae;
				padding-top: 15px;
				border-radius: 15px;
				position: sticky;
				top: 195;
				overflow-y: auto;
        	}
			.font-weight-semi-bold {
				text-align: center;
				line-height: 2;
			}
			.sidebar.sidebar-bg {
				width: 300px;
				margin: 0 auto;
			}
			.font-weight-bold{
				font-weight: 700;
			}
			.custom-heading{
				font-size:20px;
				color: rgb(86,57,42)
			}
			.bigger-text {
				font-size: 20px;  /* Adjust this value to your preference */
				font-family: 'Georgia', serif;
			}
			
	
			.front, .back{
				width: 100%;
				height: 100%;
				position: absolute;
				backface-visibility: hidden;
			}
			.col-lg-9 {
				max-width: 1300px;
				margin: 10 auto;
			}
			.postcard-index {
				font-size: 16px;
				font-family: 'Georgia', serif;
			}
			.mid-image img {
				transform: scale(0.85);
				transform-origin: top left;
				margin-bottom: -100px;
			}
			:root {
				--primary-font: "Georgia", serif;  
				--secondary-font: 'Georgia', serif;
			}
			body {
				font-family: var(--primary-font);
				font-size: 16px;
			}
		h1, h2, h3, h4, h5, h6 {
			font-family: var(--secondary-font);
		}
		.special-content {
			font-family: var(--secondary-font);
		}
		.reduce-space {
			margin-bottom:0;
			padding:0;
			font-size: 0;  /* To counteract whitespace inherent with inline-block */
		}
		.reduce-space img {
			vertical-align: top;
		}
		.scaled-image img {
			transform: scale(0.6);
			transform-origin: top left;
		}
		/* Add CSS styles to control the margin between div elements */
		.scaled-image {
			margin-bottom: -400px; /* You can adjust this value to control the margin size */
		}
		.scaled1-image img {
			transform: scale(0.6);
			transform-origin: top left;
		}
		.scaled1-image {
			 margin-bottom: -220px; /* You can adjust this value to control the margin size */
		}
		.scaled2-image img {
			transform: scale(0.6);
			transform-origin: top left;
		}
		.scaled2-image {
			margin-bottom: -700px; /* You can adjust this value to control the margin size */
		}
	
		.scaled3-image img {
			transform: scale(0.6);
			transform-origin: top left;
		}
		.scaled3-image {
			margin-bottom: -100px; /* You can adjust this value to control the margin size */
		}		

		h2 strong {
			font-family: "Clash", serif !important;
		}
		</style>
	</head>

	<body data-plugin-scroll-spy data-plugin-options="{'target': '#sidebar'}">
		<div class="body">
			<div role="main" class="main">
				<section class="page-header page-header-modern section section-with-divider mb-0 page-header-lg" 
						style="background-image: url('https://static.igem.wiki/teams/5094/header/description.gif'); 
							   background-size: cover; 
							   background-position: center; 
							   height: 700px; 
							   display: flex; 
							   align-items: center; 
							   justify-content: center;
							   width: 100%;">
							<div class="container">
								<div class="row">
									<div class="col-md-12 align-self-center p-static order-2 text-center">
										<h1 class="font-weight-bold text-dark"></h1>
									</div>
								</div>
							</div>
				</section>
			</div>

		<div class="container-fluid- pt-3 pb-2">
			<div class="row pt-2">
					<div class="col-lg-3 position-relative">
						<aside class="sidebar sidebar-bg" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
							<h5 class="font-weight-semi-bold">Categories</h5>
								<ul class="nav nav-list flex-column mb-5">
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#first">Introduction to SDGs</a></li>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#second">The Goals</a></li>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#third">Meetings, Collaborations & Events</a></li>
									<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#fourth">Citations</a></li>
								
								</ul>	
						</aside>
					</div>
				<!--content-->
				<div class="col-lg-7">
					<div id = "first">
						<h2 class="font-weight-extra-normal text-7 mb-2 ">
							<strong class="font-weight-extra-bold">Introduction to SDGs</strong>
						</h2>
							<p class = "bigger-text">
								For guidance to the goal of promoting sustainability and environment goals, we looked to the Sustainable Development goals (UNSDGs). Our project is specifically related to 4 individual SDGs, including #3: Good Health and Well-Being, #6: Clean Water and Sanitation, #12: Responsible Consumption and Production, #14: Life Below Water, and #16 Life Below Water. Throughout the project, we focused on specific subgoals for each SDG, while connecting with other teams and experts for guidance on connecting it to our project.
							</p>
							<h4 class = "font-weight-bold custom-heading">
								<i>Integration of SDGs</i>
							</h4>
								<p class = "bigger-text">
									Building on the foundation our previous team set up in terms of collaborations, we decided to take SDGs and inclusivity one step further by initiating the 2024 Postcard Collaboration event. Engaging teams from around the world, we exchange and translate postcards including our SDGs. By translating postcards into more languages and displaying them in each team’s local area, we allow our projects to be introduced to the international audience, while our local communities gain access to much more creative projects from around the world. The postcard event, along with our educational events featuring the UNSDGs, help communities near us engage and learn about these global goals. 
									<br><br>
									Adopted by all United Nations Member States in 2015, the UNSDGs are widely recognized as a goal and guideline to sustainability in our world today [s]. In the early states of our project, we identified relevant goals based on potential impacts of microplastics and PET plastics. Our team wishes to contribute to the global community, in and out of iGEM, through these goals. 
								</p>
					</div>
					<div id = "second">
						<h2 class="font-weight-extra-normal text-7 mb-2 ">
							<strong class="font-weight-extra-bold">The Goals</strong>
						</h2>
							<h4 class = "font-weight-bold custom-heading">
								<i>Goal 3: Good Health and Well-Being</i>
							</h4>
								<p class = "bigger-text">
									<u>WAVEPLAST & Goal 3</u>
									<br>
								</p>
									<p class = "bigger-text">
										SDG 3 focuses heavily on reducing health risks and possibility of illnesses [s]. PET plastics, in the form of either micro or macro plastics, are present in groundwater, drinking water, soils and sediments [a]. PET plastics in sources such as water, soil and air are associated with irritation of eyes and skin from contact, respiratory problems from inhalation, coughing or throat irritation, etc [a]. In addition, PET has a wide use in the food packaging industry, such as trays, and coatings [b]. Combined with its dominant position in the bottles market for beverages, these usages introduce illnesses such as food poisoning and digestive system [a,c]. 
										<br><br>
										Unlike other methods such as physical and chemical degradation, biodegradation removes several potential risks, including of harmful gas release and toxic products from physical degradation, as well as hazards from catalyst residues from chemical degradation [a]. By increasing the efficiency of plastic degradation, we can increase the percentage of PET broken down by PETase, and decrease the use of physical or chemical degradation, eliminating some of the potential health hazards to the human body.
									</p>
								<p class = "bigger-text">
									<u>Subgoals</u>
									<br>
								</p>
									<p class = "bigger-text">
										Target 3.9 focuses on reducing illnesses from chemicals in the air, water and soil [s]. Specifically, decreasing unsafe water exposure, a potential consequence from PET and microplastics entering water sources, is an indicator for the target [s]. By attempting to stop PET from entering water in the first place thorough recycle, 
									</p>
							<h4 class = "font-weight-bold custom-heading">
								<i>Goal 6: Clean Water and Sanitation</i>
							</h4>
								<p class = "bigger-text">
									<u>WAVEPLAST & Goal 6</u>
									<br>
								</p>
									<p class = "bigger-text">
										SDG Goal 6 focuses on the availability and sustainable management of water and sanitation for all [s]. The pervasive presence of microplastics in freshwater systems, disrupting the water quality, further affecting aquatic life and humanity [t]. Specifically, PET plastics impact the water bodies in several stages of its production, including manufacturing, fabrication, operation, disposal, and recycling. 
										<br><br>
										According to research, 12 million tonnes of plastic finds its way into the ocean annually [r]. Specifically, the microplastics contamination in freshwater often originated from sources such as urban runoff, industrial discharges, and the fragmentation of larger plastic debris [u]. Furthermore, their accumulation is exacerbated by the smaller volumes and lower turbulence in freshwater bodies, leading to localized hotspots of contamination [u].
										<br><br>
										Despite its damaging production and accumulation, PET plastics have an overall low recycling rate, with fewer than 30% of plastic bottles in the U.S. collected for recycling [g]. Of those collected, only one-third are turned back into bottles. The remaining 70% are incinerated, sent to landfills, or littered, disrupting waste management systems[g]. This demonstrates the importance of effectively recycling PET plastics in achieving goal 6.
									</p>
								<p class = "bigger-text">
									<u>Subgoals</u>
									<br>
								</p>
									<p class="bigger-text">
										Subgoal 6.3 specifically focuses on improving water quality by reducing pollution, eliminating dumping and minimizing release of hazardous chemicals and materials, halving the proportion of untreated wastewater and substantially increasing recycling and safe reuse globally[s]. WAVEPLAST project targets this goal by enhancing the efficiency of plastics recycling and digesting the plastics directly with our enzyme, reducing the amount of plastics wastes being disposed of to the landfills or water bodies. 
									</p>
							<h4 class = "font-weight-bold custom-heading">
									<i>Goal 12: Responsible Consumption and Production</i>
							</h4>
								<p class = "bigger-text">
									<u>WAVEPLAST & Goal 12</u>
									<br>
								</p>
									<p class = "bigger-text">
										SDG Goal 12 focuses on the balance between the consumption of earth resources with the needs of human species. The pervasive use of plastic brough harmful chemicals into the environment, severely altering the hormone balance in humans and animals. Additionally, microplastic particles resulting from a large bulk of plastic can easily penetrate into the human body and cause local inflammation and all kinds of physiological effects [d].
										<br><br>
										According to research, the repercussions extend to human health, since plastic is linked to hormone imbalances leading to endocrine disruption, lung disease, insulin resistance, decreased reproductive health, and an increased risk of cancer [d]. According to the Ocean Conservancy in 2023, an estimated 12000 microplastic particles are being consumed by each individual per year through various means. [e]. It may include air, food, and water. Some toxic chemicals enter the human body through this means and cause cancer and other disorders. In addition to its harmful effect on the human body, it also provides detrimental effects on the environment. PET releases antinomy that hinder the immunity of animals and plants. Those chemicals leak more under harsh environments such as UV light exposure or intense sunlight. Those toxic chemicals enlarge the food chain and inevitably harm the human body. 
										<br><br>
										WAVEPLAST focuses on enhancing renewable recycling methods to prevent ocean plastic pollution from the upstream sources. The project explores a method to prevent the toxic particles from being released into the environment. 
									</p>
								<p class = "bigger-text">
									<u>Subgoals</u>
									<br>
								</p>
									<p class = "bigger-text">
										Target 12.4 has its focuses centered around the management of all chemicals and wastes through their life cycle [s]. Specifically, it realizes the importance of regulating waste products’ releases to air, water, and soil [s]. Specifically, our project aims to decrease releases of PET plastics into water sources and other environments by increasing efficiency of upstream recycling, which increases the likelihood companies recycle more PET. The increase in efficiency of PETases, furthermore, could give businesses an incentive to switch to bio recycling from physical recycling, which produces waste chemicals released into the environment [a]. 
										<br><br>
										Target 12.5, on the other hand, focuses on reducing waste altogether through reduce, reuse, and recycle [s]. Our methods of recycling PET therefore tie closely to the target — the increase in recycling rates helps reduce waste going into the environment directly.
									</p>
							<h4 class = "font-weight-bold custom-heading">
								<i>Goal 14: Life Below Water</i>
							</h4>
								<p class = "bigger-text">
									<u>WAVEPLAST & Goal 14</u>
									<br>
								</p>
									<p class = "bigger-text">
										Goal 14 focuses on the solution of human caused issues that impacts the sustainability of marine resources [s]. Alleviating plastic pollution is a major part of ocean sustainable goals. Study in 2021 shows that PET plastics make 44.7% of all single-serve beverage packaging in the US and 12% of global solid waste [z]. Hence, it is crucial to mitigate the impact of PET plastics in order to improve marine sustainability. 
										<br><br>
										According to research, around 20 to 34 billion PET bottles are produced by soft drink industries and end up in the ocean every single year [y]. These plastics are then consumed by or tangled on to marine organisms, significantly decreasing the chances of survival and harming the biodiversity. Microplastics concentration marine environments generally range from 10-100 ppm [x]. In contrast, The US FDA’s limit on PBCs, which are found in microplastics, in fish and shellfish are 0.2ppm for junior and 2 ppm for adults [w]. Moreover, studies suggest that plastic production will increase 40% in the next 10 years, causing the microplastic concentration in the ocean to escalate [v]. At this rate, ocean products and food sources will no longer be safe to consume in the near future.
										<br><br>
										WAVEPLAST focuses on Enhancing renewable recycling methods to prevent ocean plastic pollution from the upstream sources. The project explores a bio-recycling method that degrades PET plastic to monomers with PETase enzymes. This method is renewable and costs little to no harm to the environment. By enhancing the efficiency of recycling, less PET wastes will be improperly disposed of and end up in the ocean.
									</p>
								<p class = "bigger-text">
									<u>Subgoals</u>
									<br>
								</p>
									<p class = "bigger-text">
										Subgoal 14.1.1 specifically focuses on plastic debris density in the ocean. Microplastics is a form of plastic debris that is commonly found in oceans. These debris are often consumed by ocean organisms and remain in their bodies. WAVEPLAST aims to decrease plastic ending up in the ocean by enhancing the process of plastic wastes.
									</p>
					</div>
					<div id = "third">
						<h2 class="font-weight-extra-normal text-7 mb-2 ">
							<strong class="font-weight-extra-bold">Meetings, Collaborations & Events</strong>
						</h2>
							<h4 class = "font-weight-bold custom-heading">
								<i>Meetings with iGEM teams</i>
							</h4>
							<h4 class = "font-weight-bold custom-heading">
								<i>Meetings with Stakeholders</i>
							</h4>
							<h4 class = "font-weight-bold custom-heading">
								<i>iGEM x Library Collaboration</i>
							</h4>
							<h4 class = "font-weight-bold custom-heading">
								<i>2024 Postcard Collaboration SDGs</i>
							</h4>
					</div>
					<div id = "fourth">
						<h2 class="font-weight-extra-normal text-7 mb-2 ">
							<strong class="font-weight-extra-bold">Citations</strong>
						</h2>
						
					</div>

					<!--end-->

				</div>
			</div>
		</div>
	</div>
	<center>
		<div>
			<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/explore-removebg-preview.png" alt="Scroll Animated Image 2">
		</div>
		<div>
			<ul class="m-2 p-2" style="list-style: none; padding: 0;">
				<li>
					<a class="hoverg" href="/parts-collection">
				  		<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/parts-button.png" style="width: 200px; height: 256px" alt="eng-button">
					</a>            
					<a class="hoverg" href="/experiments">
				  		<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/experiments-button.png" style="width: 200px; height: 257px" alt="imp-button">
					</a>            
					<a class="hoverg" href="/results">
				  		<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/results-button.png" style="width: 200px; height: 256px" alt="team-button">
					</a>            
					<a class="hoverg" href="/human-practices">
				  		<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/hp-button.png" style="width: 200px; height: 256px" alt="safety-button">
					</a>
					<a class="hoverg" href="/description">
						<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/description-button.png" style="width: 200px; height: 256px" alt="des-button">
			  		</a>
			  	</li>
			</ul>
		</div>
	</center>
	</body>
</html>
</div>
{%endblock%}