{% extends "layout.html" %}

{% block page_content %}
<!DOCTYPE html>

<style>

</style>

<html lang="en">
	<head>
		<style>
			.hoverg {
  				transition: 0.4s;
  				opacity: 1;
			}
			.bigger-text {
				font-size: 20px;  /* Adjust this value to your preference */
				font-family: 'Georgia', serif;
			}
			/*body {
				background-image: url("https://static.igem.wiki/teams/5094/team/ocean-for-team-page.jpg");
			}*/
		</style>


	</head>

<body class="loading-overlay-showing" data-plugin-page-transition data-loading-overlay data-plugin-options="{'hideDelay': 0, 'effect': 'pulse'}">
	<div class="loading-overlay">
	  <div class="bounce-loader">
		<div class="wrapper-pulse">
		  <div class="cssload-pulse-loader"></div>
		</div>
	  </div>
	</div>
	
	
	
	<div role="main" class="main">
	  <section class="page-header page-header-modern section section-with-divider mb-0 page-header-lg"
			   style="background-image: url('https://static.igem.wiki/teams/5094/teamheader1.gif');
								   background-size: cover; 
								   background-position: center; 
								   height: 700px; 
								   display: flex; 
								   align-items: center; 
								   justify-content: center;">
		<div class="container">
		  <div class="row">
			<div class="col-md-12 align-self-center p-static order-2 text-center">
			  <h1 class="font-weight-bold text-dark"></h1>
			</div>
		  </div>
		</div>
	  </section>
	</div>
	<div>
		<br><br><br>
		<center><b><u><p class="bigger-text">
			Click on the avatars to see each member's self introduction!
		</p></u></b></center>
	</div>



	<body>

		
			
			


				<div class="container py-4">

					<div class="sort-destination-loader-showing mt-4 pt-2">
						<div class="row team-list sort-destination" data-sort-id="team">
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-msparker') }}">
											<img src="https://static.igem.wiki/teams/5094/team/ms-parker.png" class="img-fluid" alt="">
										</a><b>Tarn Parker</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-msching') }}">
											<img src="https://static.igem.wiki/teams/5094/team/huoching.png" class="img-fluid" alt="">
										</a><b>Hui-Ching Kuo </b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-alva') }}">
											<img src="https://static.igem.wiki/teams/5094/team/alva.png" class="img-fluid" alt="">
										</a><b> Alva Huang </b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-andrew') }}">
											<img src="https://static.igem.wiki/teams/5094/team/andrew.png" class="img-fluid" alt="">
										</a>
										</a><b>Andrew Chen</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-brian') }}">
											<img src="https://static.igem.wiki/teams/5094/team/brian.png" class="img-fluid" alt="">
										</a><b>Brian Huang</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-charley') }}">
											<img src="https://static.igem.wiki/teams/5094/team/charley.png" class="img-fluid" alt="">
										</a><b>Charley Chen</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>


							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-daniel-chang') }}">
											<img src="https://static.igem.wiki/teams/5094/team/daniel-chang.png" class="img-fluid" alt="">
										</a><b>Daniel Chang</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>


							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-daniel-chen') }}">
											<img src="https://static.igem.wiki/teams/5094/team/daniel-chen.png" class="img-fluid" alt="">
										</a><b>Daniel Chen</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-dora') }}">
											<img src="https://static.igem.wiki/teams/5094/team/dora.png" class="img-fluid" alt="">
										</a><b>Dora Chen</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-ethan') }}">
											<img src="https://static.igem.wiki/teams/5094/team/ethan.png" class="img-fluid" alt="">
										</a><b>Ethan Huang</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-hans') }}">
											<img src="https://static.igem.wiki/teams/5094/team/hans.png" class="img-fluid" alt="">
										</a><b>Hans Chiang</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-joseph') }}">
											<img src="https://static.igem.wiki/teams/5094/team/joseph.png" class="img-fluid" alt="">
										</a><b>Joseph Chen</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-justin') }}">
											<img src="https://static.igem.wiki/teams/5094/team/justin.png" class="img-fluid" alt="">
										</a><b>Justin Lan </b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-mandy') }}">
											<img src="https://static.igem.wiki/teams/5094/team/mandy.png" class="img-fluid" alt="">
										</a><b>Mandy Liao</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-nini') }}">
											<img src="https://static.igem.wiki/teams/5094/team/nini.png" class="img-fluid" alt="">
										</a><b>Nini Hsu </b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-sarah') }}">
											<img src="https://static.igem.wiki/teams/5094/team/sarah.png" class="img-fluid" alt="">
										</a><b>Sarah Chang </b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-zoe-hsu') }}">
											<img src="https://static.igem.wiki/teams/5094/team/zoe-hsu.png" class="img-fluid" alt="">
										</a><b>Zoe Hsu</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
							<div class="col-12 col-sm-6 col-lg-3 isotope-item">
								<span class="thumb-info thumb-info-hide-wrapper-bg mb-4">
									<span class="thumb-info-wrapper" style="text-align: center;">
										<a href="{{ url_for('pages', page='about-zoe-lin') }}">
											<img src="https://static.igem.wiki/teams/5094/team/zoe-lin.png" class="img-fluid" alt="">
										</a><b>Zoe Lin</b>
									</span>
									<span class="thumb-info-caption">
										<span class="thumb-info-caption-text"></span>


										</span>
									</span>
								</span>
							</div>
						</div>

					</div>
		</div>


		<!-- Vendor -->
		<script src="{{ url_for('static', filename = 'plugins.min.js') }}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{{ url_for('static', filename = 'theme.js') }}"></script>

		<!-- Theme Initialization Files -->
		<script src="{{ url_for('static', filename = 'theme.init.js') }}"></script>



	</body>
	<body>
		<center>
			<div>
				<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/explore-removebg-preview.png" alt="Scroll Animated Image 2">
			  </div>
			<div>
				<ul class="m-2 p-2" style="list-style: none; padding: 0;">
				  <li>
					<a class="hoverg" href="{{ url_for('pages', page='parts-collection') }}">
				
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/parts-button.png" style="width: 200px; height: 256px" alt="eng-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='education') }}">
	  
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/education-button.png" style="width: 200px; height: 257px" alt="imp-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='sustainable') }}">
		
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/sus-button.png" style="width: 200px; height: 256px" alt="team-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='attributions') }}">
		 
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/attribution-button.png" style="width: 200px; height: 256px" alt="safety-button">
	  
					</a>
					<a class="hoverg" href="{{ url_for('pages', page='description') }}">
					
						<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/description-button.png" style="width: 200px; height: 256px" alt="des-button">
				  
					  </a>
				  </li>
				</ul>
			  </div>
			</center>
	</body>


{% endblock %}
