{% extends "layout.html" %}



{% block page_content %}

    <html lang="en">

    <head>
        <style>
            /* Define your navigation bar styles */
            .sidebar {
                background-color: rgba(212, 184, 149);
                padding-top: 20px;
                border-radius: 15px;
                position: sticky;
                top: 0;
                overflow-y: auto;
                /* Add scroll functionality for small screens */
            }

            .font-weight-semi-bold {
                text-align: left;
                line-height: 2;
            }

            .sidebar.sidebar-bg {
                width: 300px;
                margin: 0 auto;
            }

            .bigger-text {
                font-size: 20px;
                /* Adjust this value to your preference */
                font-family: 'Georgia', serif;
            }

            .col-lg-9 {
                max-width: 1300px;
                margin: 10 auto;
            }
			.mid-image img {
        		transform: scale(0.85);
        		transform-origin: top left;
				margin-bottom: -100px;
    		}

            .scaled-image img {
                transform: scale(0.3);
                transform-origin: top left;

            }

            /* Add CSS styles to control the margin between div elements */
            .scaled-image {
                margin-bottom: -400px;
                /* You can adjust this value to control the margin size */
            }

            .scaled1-image img {
                transform: scale(0.6);
                transform-origin: top left;

            }

            .scaled1-image {
                margin-bottom: -100px;
                /* You can adjust this value to control the margin size */
            }

            .scaled2-image img {
                transform: scale(0.6);
                transform-origin: top left;

            }

            .scaled2-image {
                margin-bottom: -700px;
                /* You can adjust this value to control the margin size */
            }
            .scaled3-image img {
                transform: scale(0.6);
                transform-origin: top left;

            }

            .scaled3-image {
                margin-bottom: -550px;
                /* You can adjust this value to control the margin size */
            }

			.scaled4-image {
                margin-bottom: -400px;
                /* You can adjust this value to control the margin size */
            }
			.scaled5-image {
                margin-bottom: 0px;
                /* You can adjust this value to control the margin size */
            }
			.scaled6-image {
                margin-bottom: -600px;
                /* You can adjust this value to control the margin size */
            }

			.postcard-index {
			font-size: 16px;
			font-family: 'Georgia', serif;
		}
            :root {
                --primary-font: "Georgia", serif;
                /* Primary font for most content */
                --secondary-font: "Georgia", serif;
                /* Secondary font for headings and specific content */
            }

            body {
                font-family: var(--primary-font);
                font-size: 16px;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: var(--secondary-font);
            }

            .custom-heading {
                font-size: 20px;
                /* adjust as necessary */
                color: rgb(86, 57, 42);
            }

            .special-content {
                font-family: var(--secondary-font);
            }
        </style>



	
</head>
	<body data-plugin-scroll-spy data-plugin-options="{'target': '#sidebar'}">

		<div class="body">


			<div role="main" class="main">
				<section class="page-header page-header-modern section section-with-divider mb-0 page-header-lg" 
						style="background-image: url('https://static.igem.wiki/teams/5094/hp/human-practice.gif'); 
							   background-size: cover; 
							   background-position: center; 
							   height: 700px; 
							   display: flex; 
							   align-items: center; 
							   justify-content: center;
							    width: 100%;">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="font-weight-bold text-dark"></h1>
							</div>
						</div>
					</div>
				</section>
			</div>
			
			
				
			<div class="container-fluid- pt-3 pb-2">

				<div class="row pt-2">
					<div class="col-lg-3 position-relative">
						<aside class="sidebar sidebar-bg" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">

							<h5 class="font-weight-semi-bold"><center>Categories</h5></center>
							<ul class="nav nav-list flex-column mb-5">
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#first">Summary</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#second">Survey</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#third">Expert interviews</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#fifth">Taiwan Synbio Alliance</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#sixth">Further extension</a></li>
								<li class="nav-item"><a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="95" href="#fourth">Citation</a></li>




							</ul>
						
						</aside>
						


				      </div>
                <div class="col-lg-7">
                    <div id="first">
                        <h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
                         
						  <strong class="font-weight-extra-bold">Summary</strong>
                        </h2>
                        <p class="bigger-text">
							In our human practice group, we met with experts to discuss the project's idea and conducted 2 surveys to help guide our project’s direction. 
                        </p>
                        <p class="bigger-text">
							Before finalizing our project, we read through a paper (“Kombucha bacterial cellulose for sustainable fashion”) by a materials scientist, Dr. Jurgita Domskiene, and it inspired us to replace animal leather with an alternative that would not harm the environment. We contacted and met with Dr. Jurgita who validated our project’s idea: use SCOBY as an alternative material. She also inspired us to work with kombucha producers to achieve a circular economy and reduce SCOBY waste by incorporating it into a new product[1].  

                        </p>
						<p class="bigger-text">
							We initially planned to collaborate with a commercial company because we wanted to take their SCOBY byproduct (waste) produced from brewing kombucha products and use it to make an alternative to leather. So we met with Dr. Chen, the CEO of Grape King Bio Ltd., however, as he explained the commercial process of making kombucha, we discovered companies that mass produce kombucha are not suitable for collaboration with our project because the process involves constant stirring of the kombucha, and therefore no membrane forms[3]. 

                        </p>
						<p class="bigger-text">
							Subsequently, we approached a small-scale SCOBY producer, Mr. Nicholls. He recommended linking our project with a clearer goal by focusing on specific SDGs that our project would tie in with, guiding us to improve our project more thoroughly and completely towards a focus on SDG 12: responsible consumption and reproduction, and SDG 15: life on land. Moreover, with his experience in brewing kombucha at home and leather farming, he advised us on SCOBY growing methods and SCOBY leather testing methods to help us arrive at our strength and flexibility test.
                        </p>

						<p class="bigger-text">
							Once the team had completed a prototype of our products, the team met with Ms. Lianne Bell, who is a senior lecturer in businesses and innovation. During the meeting, she discussed how we could execute our design. As the owner of a fashion-based company, she gave us suggestions on conducting surveys to look for target audiences and consider details to reach a more complete circular economy model, such as considering the emission from transportation of the SCOBY materials and waste management.
						</p>

						<p class="bigger-text">
							Furthermore, we also sent out two surveys to people around Taiwan to gauge public interest and areas of focus for our product. In our first pre-product survey, we gathered the public's opinion regarding SCOBY and what products they would optimally like to see it used for. From the result, we learned the public is interested in SCOBY and how it could be applied to daily products which is why our project focuses on making SCOBY into leather. 

                        </p>
						

						

						 

					</div>

					
					<div id="second">

						<p class="bigger-text">
							In the second survey, our group gathered public opinion regarding the use of animal leather. We also inquired about the public’s most-valued characteristic of leather: flexibility. From the result, we discovered most of them are using leather, but are also aware of its ecological damage and were interested in moving to alternative products if made available, allowing us to finalize our project’s aim: a more eco-friendly and flexible leather product made from SCOBY!

						</p>

						<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
							<strong class="font-weight-extra-bold">Survey</strong>
						</h2>
						<h4 class="font-weight-bold custom-heading">
							<i>Survey 1 — Public Knowledge on Microplastics</i>
						</h4>
			
						</div>
						
						<p class="bigger-text">
						Prior to our shift in topic from microplastics to PET plastics degradation, we sent out a survey to test public knowledge on microplastic issues and knowledge on synthetic biology. Although microplastics no longer perfectly align with our current project, it provides valuable information on public interests as well as common misconceptions on the topic.
						</p>
							<a href="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/kcis-igem-competition-goal-1-survey-google-forms-1.pdf" target="_blank" rel="noopener noreferrer">View Survey 1</a>
							<div class="scaled-image">
								<img src="https://static.igem.wiki/teams/5094/hp/graph-1.png"></div>
						<center><p class="bigger-text">
							We designed the survey to start with testing public knowledge on microplastics. From graph 1, we can tell that 81.5% of respondents do have at least average understanding on the topic, indicating that the public is at least aware of the issue.

						</p></center>
						<p class="bigger-text">
							We designed the survey to start with testing public knowledge on microplastics. From graph 1, we can tell that 81.5% of respondents do have at least average understanding on the topic, indicating that the public is at least aware of the issue.

						</p>

		
						
						
						<center>
							<div class="scaled-image">
							<center><img src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/graph-3-public-interest-towards-scoby.png"></center>	
					
							</div>
							<br><p class="postcard-index">Graph 1: Public interest towards SCOBY
							</p></center><br><br>
						
						
						
						<br><br><br><p class="bigger-text">
						
									Since there are diverse applications for SCOBY, graph 2 indicates that 65.7% of the randomly selected participants want to learn more about SCOBY health-related use, and 64.2% hope to apply SCOBY on daily necessities. Therefore, our team discussed and finalized that our project should incorporate the community’s needs, which resulted in our project’s goal: replacing animal leather as there are over 74.2% of individuals using it, referred to graph 2. 
								</p>

						
						<br><br><br><center><div class="scaled-image">
							<img src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/graph-4-public-interest-regarding-how-our-team-apply-scoby.png">
						</div></center>
						<center><p class="postcard-index">Graph 2: Public interest regarding how our team applies SCOBY
						</p></center><br><br>

						<br><br><br><h4 class="font-weight-bold custom-heading">
							<i>Second survey: public’s awareness of animal-leather damages in the environment</i>
						</h4>
						<a href="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/kcis-igem-competition-goal-1-survey-google-forms-1.pdf" target="_blank" rel="noopener noreferrer">View Survey 2</a>

						<center>
							<div class="scaled-image">
							<center><img src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/graph-5-public-s-possession-of-leather-made-products.png">
						
							</div>
							<br><p class="postcard-index">Graph 3: The number of individuals using leather-made products.
							</p></center><br><br>
						
						<p class="bigger-text">
							As shown in Graph 3, among all the responses, 74.2% of the respondents use leather-made products and graph 4 indicates 77% of them are aware of the environmental and ecological damage caused by animal leather. However, from Graph 6, we noticed that after the participants were informed of the destruction of animal leather poses on the environment, 74.6% would stop purchasing animal leather products if it was possible to substitute their products with more eco-friendly ones. Unexpectedly softness wasn’t the main factor of customer value, as Graph 7 illustrates “flexibility” was the most valued with 70.3% of the respondents agreeing. Therefore, we wanted to make SCOBY-made leather as flexible as general leather. 
						</div>

						
						
						<center><div class="scaled-image">
						<img src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/graph-6-public-s-awareness-towards-ecological-damage-caused-by-animal-leather.png">
						</div></center>
						<br><br><center><p class="postcard-index">Graph 4: Public's awareness of ecological damage caused by animal leather</br>
						</p></center><br><br>
						
					
						
						<center>
							<div class="scaled-image">
								<img src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/graph-7-public-attitude-on-buying-animal-leather-products-after-being-informed-from-its-damages-posed-in-the-environment.png">
							</div>
							<br><p class="postcard-index">Graph 5: Public attitude on buying animal leather products after being informed of the damages posed to the environment.
							</p></center><br><br>
							<center>
								<div class="scaled-image">
									<img src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/graph-8-public-s-purchasing-preference-on-leather-made-products.png">
								</div>
							</center>

							

								<div id="third">
									
									<center><p class="postcard-index">Graph 6: Public's purchasing preference for leather-made products.</center>	
		
										</p><br><br>
								</div>
				
								<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
									<strong class="font-weight-extra-bold">Expert interviews
									</strong>
								</h2>
								<h4 class="font-weight-bold custom-heading">
									<i>1.Dr. Jurgita Domskiene
									</i>
								</h4>
							
									<center>
										<img style="width:1100px; height: 500px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-1-online-interview-with-dr-jurgita.png">
									</center>
									<center><p class="postcard-index">Figure 1: Online interview with Dr. Jurgita
									</p></center><br><br>


								

								<p class="bigger-text">
								<u>	Why did we approach her?</u>
									<br>After having an insight into issues regarding the contemporary leather industry, the team researched alternative materials. The team got inspiration from Dr. Jurgita’s paper about using SCOBY as an alternative material for fabric in fashion. Dr. Jurgita is a material engineer who has past experiences of reusing SCOBY cellulose as fabric for clothing design. Since the team also decided to work with SCOBY, we scheduled an interview to understand SCOBY better and gain ideas about further possibilities for the project.
									<br><u>	What did we learn?
									</u>
									<br>Although Dr. Jurgita is not an expert on the genetic modifications and the complex science of SCOBY's fermentation process, she specializes in material science and therefore answered our inquiries about processing SCOBY cellulose. Furthermore, she describes how the fermentation process through different mediums would affect the cellulose structure, strength, and smell of SCOBY, which sparked the team to genetically modify yeast and bacteria and use it in the medium to change the strength of SCOBY. 
									<br>In addition, the team presented the project to Dr. Jurgita and received feedback: for instance, the team initially compared the strength of SCOBY with plant-based cellulose; however, Dr. Jurgita helped us specify that SCOBY and plant-based cellulose are different products and cannot be compared with the same standard[1]. 

							
				
				
								<p class="bigger-text">
									<u>	Application</u>
										<br>Dr. Jurgita pointed out how SCOBY is a byproduct of kombucha and encouraged the team to research kombucha-related commercial producers for further information about how to include SCOBY as part of kombucha production to reach a more sustainable production, which we later realised would be encapsulated by the SDG 12 goal: Responsible consumption and production. 

										
									
										<div id="putai">
											<h4 class="font-weight-bold custom-heading">
												<i> 2. GRAPE KING BIO LTD
												</i>
											</h4>
											<center>
												<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-2-online-interview-with-dr-chen.png">
											</center>
											<center><p class="postcard-index">Figure 2: Online interview with Dr. Chen

											</p></center><br><br>
										</div>

				
			
	
									<p class="bigger-text">
									<u>	Why did we approach them?</u>
										<br>To learn more regarding the industrial application of SCOBY, we invited the CEO of the biotechnology company, Mr. Chen Yen Lien, to explain their kombucha production process. The biotechnology company, Grape King Bio, which sold the most Kombucha in Taiwan from e-commerce platforms[2]. 

									<br><br><u>	What did we learn?
										</u>
										<br>According to Dr. Chen Yen Lien, SCOBY and kombucha were not yet popular products in Taiwan until the last five years. Moreover, he clarified that their production process differs from small-scale brewing because they use fermentors to facilitate the reaction. An industrial fermenter is used in mass production to ensure the uniformity of the produced Kombucha. To speed up the reaction,and ensure product uniformity, and minimize waste, the machine constantly stirs the medium, preventing the formation of SCOBY cellulose during fermentation[3]. 

								
					
					
									<p class="bigger-text">
										<u>	Application</u>
											<br>Grape King Bio has won the Taiwan Sustainability Action Award (TSAA) Silver Medal for its long-term commitment to the realization of the corporate philosophy of sustainability, which fits SDG 12: Responsible Consumption and Production. This inspired/redirected us to work towards the same goal. However, since Grape King Bio already excels in their field, our team thought to shift focus onto SCOBY on a smaller scale of production.
									
										<p class="bigger-text">
										
												<br>We hope to make our project more eco-friendly. By linking with SDGs, our goal is clearer so that the audience is more familiar with the impact we can potentially create. 

									
											<br>A key aspect we learnt from the interview was that the industrial process of how companies process SCOBY does not result in a SCOBY membrane. Therefore it is not possible for us to reculture their SCOBY byproduct to form leather and achieve a circular economy. Since we handle the SCOBY differently, we discovered that we need to find an alternative solution, and look for producers who do create a SCOBY membrane in their process. 

									
				

										<h4 class="font-weight-bold custom-heading">
											<i>3.Mr. Andrew Nicholls
											</i>
										</h4>
										<center>
										
											<center>
												<img style="width:800px; height: 800px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-3-mr-nicholls-introduce-his-30-years-experience-in-breeding-scoby-he-also-brought-his-kombucha-to-us-and-explain-the-scientific-process-of-it.jpg">
											</center>
											<p class="postcard-index">Figure 3: Mr. Nicholls introduces his 30 years of experience in breeding SCOBY. He also brought his Kombucha to us and explained the scientific process of it.

	
		
											</p></center><br><br>
		
										<p class="bigger-text">
										<u>	Why did we approach him?</u>
											<br>After the interview with Dr. Chen, the team noticed the difficulties with working with commercial companies for SCOBY fermentation. Therefore the team reached out to a small-scale producer: Mr. Nicholls who brewed his own kombucha for over 20 years, and had experience selling his kombucha to known relatives of our team members during the pandemic period. Homemade-scale kombucha fermentation became a viable option to partner with in order to create our desired application of a circular economy model; therefore, we hope Mr. Nicholls can provide us with more information and knowledge about SCOBY with his valuable experiences. 

											<br><u>	What did we learn?
											</u>
											<br>Mr. Nicholls, an expert in the field of symbiotic culturing, explains how SCOBY functions to make fermentation kombucha, allowing us to understand the composition of kombucha at a molecular level. During the fermentation, both yeast and bacteria are involved. Yeast consumes sugar in the medium and produces alcohol as its product, then bacteria convert the alcohol into vinegar. Yeast and bacteria work back to back: the air in the container enables bacteria to grow, while yeast, which doesn't require oxygen, produces alcohol that will inhibit molds from growing. Through his experience sharing, the team gains great insight into the production process of SCOBY and the interaction of microorganisms within. 
											In addition, Mr. Nicholls provided us with his protocol and material list from his experience. <br> He highlighted the importance of tea and sugar as a resource for yeast and bacteria to function. Moreover, Mr. Nicholls highlighted the importance of having constant temperature when brewing SCOBY, which clarified our procedure in growing SCOBY. 
											He also explained the importance of the proportion of the container to fermentation. <br>If there is too much air in the container, the bacteria become more active and dominate, making the kombucha more acidic; if there is less air in the container, the yeast dominates over the bacteria, resulting in a more alcoholic solution[4]. Therefore, it is crucial to grow SCOBY in containers of the same size as the air content can affect SCOBY growth. Related to our project, Mr. Nicholls suggests that if we want to make thicker SCOBY for leather, more sugar is needed. 
											
										
						
						
										<p class="bigger-text">
											<u>	Application</u>
												<br><u>Flexibility test:</u> <br>Our team presented the project to Mr. Nicholls for suggestions and advice. With his background in working on leather on farms, he provided insightful methods to test the flexibility of the SCOBY. He suggests we test SCOBY strength at multiple angles and sides, similarly to how a piece of animal leather would be tested for strength and flexibility. For instance, we should not only focus on vertical, but incorporate horizontal, rotational, and compression strength. Moreover, he recommends we hang the SCOBY using rubber bands and stretch it while still maintaining its shape. He also noted that water humidity and temperature also affect the SCOBY strength. These suggestions inspired our team to further make changes in testing SCOBY of testing both flexibility and strength using vise to immobilize the SCOBY which also increases the reliability of our result. 

											
											<p class="bigger-text">
											
													<br>We hope to make our project more eco-friendly. By linking with SDGs, our goal is clearer so that the audience is more familiar with the impact we can potentially create. 
	
											
												<br>A key aspect we learnt from the interview was that the industrial process of how companies process SCOBY does not result in a SCOBY membrane. Therefore it is not possible for us to reculture their SCOBY byproduct to form leather and achieve a circular economy. Since we handle the SCOBY differently, we discovered that we need to find an alternative solution, and look for producers who do create a SCOBY membrane in their process. 
	
										


											
												<div id="putai">
													<h4 class="font-weight-bold custom-heading">
														<i>4. Ms. Lianne Bell
														</i>
													</h4>
													<center>
														<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-4-online-meeting-with-ms-bell.png">
													</center>
													<center><p class="postcard-index">Figure 4: Online meeting with Ms. Bell
													</p></center><br><br>
												</div>

											
			
											<p class="bigger-text">
											<u>	Why did we approach her?</u>
												<br>After we completed our project and the experiment, we met with Ms. Bell, a senior lecturer in Enterprise and Innovation at Teesside University. Since the result shows a significant difference in the strength of engineered and original SCOBY, we are brainstorming potential business proposals that we can produce SCOBY. Therefore, we approached Ms. Bell hoping to receive her feedback regarding our potential business proposal and production process.  

												<br><u>	What did we learn?
												</u>
												<br>We first introduce our project. Starting from the production cycle, she informed us to take notes on the entire production process, not only how SCOBY is made, but also how SCOBY is transported from raw material to the final product. Moreover, she suggests we use eco-friendly transportation such as electronic vehicle, bicycles that will not emit extra greenhouse gasses that damage the environment to fully <br>fulfill SDGs goals. With this, we can incorporate the data we collected from the public on their acceptable price range of SCOBY to make reasonable conclusions on the price. 
												<br>From Ms. Bell, we also learn more about how the circular economy works. She emphasizes that we should decide whether the production cycle is a closed loop or not and determine the final end of the loop, such as burying the biodegradable SCOBY into the soil. 
												For our entrepreneurship plan, Ms. Bell and her team gave us clear directions. Firstly, we need to find our target audience, in which from the survey are individuals who are aware of the environmental threat<br> posed by animal-leather, and are willing to substitute for a more eco-friendly one. Secondly, we should compare what the current markets’ holds and what we offer to compare the different values which will be easier for us to set our objectives. Lastly, we can promote our product through social media and similar brands to cooperate. 
												Since Ms. Bell also has her own clothing shop. We asked her opinion on the possibility of making SCOBY-leather into a product and potentially a brand. <br>As someone who deeply cares about sustainability, Ms. Bell told us that from a business perspective she chooses clothing based on its properties, specifically those fabrics that do not harm the environment and workers—which SCOBY product is eco-friendly and doesn’t damage people’s health in the production process, SCOBY product can be a trend for the existing audiences. 
												
										
											<div id="fifth">

													<br><br><br>

											<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
												<strong class="font-weight-extra-bold">Taiwan Synbio Alliance
												</strong>
											</h2>
											
			
											<p class="bigger-text">
						
												<br>In August, KCIS Linkou and Taiwan Synbio Alliance held an iGem Seminar where we met and interacted with other teams in Taiwan. Through continuous training for the presentation of our project, every teammate gained detailed insight into the project and was able to present ideas to the public. At the seminar, our team presented our project, listened to projects by other Taiwan iGemers, and received feedback accordingly. 

												<br>During the project sharing section, we discovered that other teams have fluent transitions between pages, especially inspired by team CCU. In addition, judges pointed out our project lacked a solid story for the problem and our solution. During the mock competition, Professor Allen Lien, from Medigen Vaccine Biology Corporation; iGem Ambassador for Taiwan, Sabrina Yeo, from NTU College of Medicine Institute of Molecular Medicine who has judging experiences in the iGem competition; and Professor Ching-Hsuan Lin, from NTU Biotechnology Department gave us feedback of concepts the team needed to take account from: key focuses were coming up with standardized data of brewing SCOBY and a more solid plan for the application  of our product[4].  

										
							
											<center>
												<div class="scaled5-image">
												
													<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-5-the-first-day-of-seminar-our-group-present-our-project-with-the-designed-poster-to-others-we-also-receive-feedback-from-the-professionals.jpg">	
												</div>
												<p class="postcard-index">Figure 5: On the first day of the seminar, our group presented our project with the designed poster to others. We also receive feedback from the professionals.

												</p></center><br><br>
											
												<div id="putai">
											

											
															
												<div id="putai">

													<center>
														<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-6-this-is-the-group-photo-of-the-activity-held-by-linkou-team.jpg">
													</center>
													<center><p class="postcard-index">Figure 6: This is the group photo of the activity held by the Linkou team.
		
													</p></center><br><br>
												</div>
		
												</p></center><br><br>
	
											
											
											
											
											
												<center>
													<div class="scaled5-image">
														<center>
															<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-7-in-the-second-day-we-approach-the-mentors-to-discuss-their-feedback-regarding-our-project.jpg">
														</center>
													
													</div>
													<p class="postcard-index">Figure 7: On the second day, we approached the mentors to discuss their feedback regarding our project.
													</p></center><br><br>

													<center>
														<div class="scaled5-image">
														
															<img style="width:600px; height: 400px" src="https://static.igem.wiki/teams/4650/wiki/integrated-human-practice/integrated-human-practice/integrated-human-practice/figure-8-our-group-presenting-on-stage-in-day-2.jpg">
														</div>
														<p class="postcard-index">Figure 8: Our group presented on stage on day 2.
														</p></center><br><br>


											
													</p></center>

													<div id="sixth">

														<br><br><br>

													<h2 class="font-weight-extra-normal text-7 mb-2 bigger-text">
														<strong class="font-weight-extra-bold">Further extension
														</strong>
													</h2>
													</div>
													
													<div id="fourth">
													<p class="bigger-text">
															To achieve a well rounded product, the team aims to find more experts in the leather industry to ensure our product SCOBY leather is usable and what products it has the potential to replace traditional leather. </p>
													</div>
									
									
												
				
					
						<h2 class="font-weight-extra-normal text-7 mb-2"><strong class="font-weight-extra-bold"><u>Citation</u></strong></h2>
						<p style="font-family: 'Georgia'">[1] Jurgita Domskienė. materials engineer. Online Interview. 19th May 2023.
						<p style="font-family: 'Georgia'">[2] Grape King Bio. Star product kombucha! grape king bio’s kombucha wins ‘innovation product award’ from Talab. [Online] Grape King Bio. Grape King Bio; Available from: https://www.grapeking.com.tw/en/about/news/625fa0437a82f/detail [Accessed: 29th September 2023]
						<p style="font-family: 'Georgia'">[3] Chen Yen Lie. CEO of Grape King Bio LTD. Online Interview. 8th June 2023.
						<p style="font-family: 'Georgia'">[4] Andrew Nicholls. Kombucha expert. In-person workshop. 14th August 2023.
						<p style="font-family: 'Georgia'">[5] Allen Lien, Sabrina Yeo, Ching-Hsuan Lin. mock judges. Mock competition. 20th August 2023
						</div>

		</div>
		</div>
		</div>
		<center>
			<div>
				<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/explore-removebg-preview.png" alt="Scroll Animated Image 2">
			  </div>
			<div>
				<ul class="m-2 p-2" style="list-style: none; padding: 0;">
				  <li>
					<a class="hoverg" href="{{ url_for('pages', page='parts-collection') }}">
				
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/parts-button.png" style="width: 200px; height: 256px" alt="eng-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='experiments') }}">
	  
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/experiments-button.png" style="width: 200px; height: 257px" alt="imp-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='sustainable') }}">
		
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/sus-button.png" style="width: 200px; height: 256px" alt="team-button">
	  
					</a>            
					<a class="hoverg" href="{{ url_for('pages', page='education') }}">
		 
					  <img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/education-button.png" style="width: 200px; height: 256px" alt="safety-button">
	  
					</a>
					<a class="hoverg" href="{{ url_for('pages', page='description') }}">
					
						<img src="https://static.igem.wiki/teams/4650/wiki/nav-buttons/description-button.png" style="width: 200px; height: 256px" alt="des-button">
				  
					  </a>
				  </li>
				</ul>
			  </div>
			</center>	
		</body>
	
{% endblock %}
